Repository microsoft/botbuilder-dotnet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/bb-dotnet, @gabog, @mrivera-ms, @chrimc62, @tomlm, @microsoft/bf-adaptive, @microsoft/bf-skills, @garypretty, @microsoft/bb-dotnet-integration, @microsoft/bf-cog-services, @EricDahlvang, @johnataylor, @microsoft/bf-streaming, @microsoft/bf-dialogs, @carlosscastro, @microsoft/bf-auth, @microsoft/bf-teams

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Global rule:
* @microsoft/bb-dotnet

# Various C# Libraries
/FunctionalTests/**                                                                 @gabog @mrivera-ms
/tests/Microsoft.Bot.Builder.TestBot*/**                                            @gabog @mrivera-ms
/build/**                                                                           @microsoft/bb-dotnet

# Specific Test Projects
/tests/Microsoft.Bot.Builder.TestBot.Json/**                                        @chrimc62 @tomlm @microsoft/bf-adaptive
/tests/Microsoft.Bot.Builder.TestProtocol/**                                        @gabog @microsoft/bf-skills

# Adapters
/libraries/Adapters/**                                                              @garypretty
/tests/Adapters/**                                                                  @garypretty  

# Platform Integration Libaries (.NET Core and WebApi)
/libraries/integration/**                                                           @microsoft/bb-dotnet-integration
/tests/integration/**                                                               @microsoft/bb-dotnet-integration

# Application Insights/Telemetry
/libraries/Microsoft.Bot.Builder.ApplicationInsights/**                             @garypretty
/tests/Microsoft.Bot.Builder.ApplicationInsights.Tests/**                           @garypretty

# AI: LUIS + QnA Maker
/libraries/Microsoft.Bot.Builder.AI*/**                                             @microsoft/bf-cog-services
/tests/Microsoft.Bot.Builder.AI*/**                                                 @microsoft/bf-cog-services

# Azure (Storage)
/libraries/Microsoft.Bot.Builder.Azure/**                                           @EricDahlvang @mrivera-ms
/tests/Microsoft.Bot.Builder.Azure.Tests/**                                         @EricDahlvang @mrivera-ms

# Adaptive Dialogs
/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/**                                @microsoft/bf-adaptive
/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive.Teams/**                          @microsoft/bf-adaptive
/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive.Testing/**                        @microsoft/bf-adaptive
#   Adaptive Dialogs' tests
/tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Profiling/**                          @microsoft/bf-adaptive
/tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Teams.Tests/**                        @microsoft/bf-adaptive
/tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/**                    @microsoft/bf-adaptive
/tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/**                              @microsoft/bf-adaptive

# AdaptiveExpressions & LanguageGeneration libraries
/libraries/Microsoft.Bot.Builder.Dialogs.Declarative/**                             @microsoft/bf-adaptive
/tests/Microsoft.Bot.Builder.Dialogs.Declarative.Tests/**                           @microsoft/bf-adaptive
/libraries/Microsoft.Bot.Builder.LanguageGeneration/**                              @microsoft/bf-adaptive
/tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/**                            @microsoft/bf-adaptive
/libraries/AdaptiveExpressions/**                                                   @microsoft/bf-adaptive
/tests/AdaptiveExpressions.Tests/**                                                 @microsoft/bf-adaptive

# BotBuilder Dialogs Debugging
/libraries/Microsoft.Bot.Builder.Dialogs.Debugging/**                               @mrivera-ms @tomlm @gabog
/tests/Microsoft.Bot.Builder.Dialogs.Debugging.Tests/**                             @mrivera-ms @tomlm @gabog

# TemplateManager
/libraries/Microsoft.Bot.Builder.TemplateManager/**                                 @mrivera-ms @tomlm
/tests/Microsoft.Bot.Builder.TemplateManager/**                                     @mrivera-ms @tomlm

# BotBuilder Testing
/libraries/Microsoft.Bot.Builder.Testing/**                                         @gabog
/tests/Microsoft.Bot.Builder.Testing.Tests/**                                       @gabog

# Bot Framework Schema
/libraries/Microsoft.Bot.Schema/**                                                  @mrivera-ms @johnataylor
/tests/Microsoft.Bot.Schema.Tests/**                                                @mrivera-ms @johnataylor

# Streaming library
/libraries/Microsoft.Bot.Builder/Streaming/**                                       @microsoft/bf-streaming
/libraries/Microsoft.Bot.Streaming/**                                               @microsoft/bf-streaming
/tests/Microsoft.Bot.Builder.Streaming.Tests/**                                     @microsoft/bf-streaming

# BotBuilder library
/libraries/Microsoft.Bot.Builder/**                                                 @gabog @johnataylor
/tests/Microsoft.Bot.Builder.Tests/**                                               @gabog @johnataylor

# BotBuilder Dialogs
/libraries/Microsoft.Bot.Builder.Dialogs/**                                         @microsoft/bf-dialogs
/tests/Microsoft.Bot.Builder.Dialogs/**                                             @microsoft/bf-dialogs

# Bot Framework Connector
/libraries/Microsoft.Bot.Connector/**                                               @mrivera-ms @carlosscastro @johnataylor
/tests/Microsoft.Bot.Connector.Tests/**                                             @mrivera-ms @carlosscastro @johnataylor

# Bot Framework Authentication
/libraries/Microsoft.Bot.Builder/OAuth/**                                           @microsoft/bf-auth
/libraries/Microsoft.Bot.Connector/Authentication/**                                @microsoft/bf-auth
/tests/Microsoft.Bot.Connector.Tests/Authentication/**                              @microsoft/bf-auth

# Bot Configuration
/libraries/Microsoft.Bot.Configuration/**                                           @tomlm
/libraries/Microsoft.Bot.Configuration.Tests/**                                     @tomlm

# Bot Framework Skills
/libraries/Microsoft.Bot.Builder/Skills/**                                          @microsoft/bf-skills
/tests/Microsoft.Bot.Builder.Tests/Skills/**                                        @microsoft/bf-skills

/libraries/Microsoft.Bot.Builder.Integration.AspNet.Core/Skills/**                  @microsoft/bf-skills
/libraries/Microsoft.Bot.Builder.Integration.AspNet.Core/**/*HttpClient.cs          @microsoft/bf-skills

/tests/Microsoft.Bot.Builder.Integration.AspNet.Core.Tests/Skills/**                @microsoft/bf-skills
/tests/Microsoft.Bot.Builder.Integration.AspNet.Core.Tests/**/*HttpClientTests.cs   @microsoft/bf-skills

/FunctionalTests/Skills/**                                                          @microsoft/bf-skills
/tests/Skills/**                                                                    @microsoft/bf-skills

# Bot Framework & Microsoft Teams
/libraries/Microsoft.Bot.Builder/Teams/**                                           @microsoft/bf-teams
/tests/Microsoft.Bot.Builder.Tests/Teams/**                                         @microsoft/bf-teams
/tests/Teams/**                                                                     @microsoft/bf-teams

# Ownership by specific files or file types
# This section MUST stay at the bottom of the CODEOWNERS file. For more information, see
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file

# .schema files
/**/*.schema                                                                        @chrimc62 @tomlm

Update schema merge test results so they pass
  tests/tests.schema
Owners: @chrimc62, @tomlm

add control property (#5943)
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Evaluator.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Expander.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Templates.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/FileOperation.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/TestFile.txt
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Microsoft.Bot.Builder.LanguageGeneration.Tests.csproj
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplatesTest.cs
Owners: @microsoft/bf-adaptive

flip enableFromFile to false by default and fix unit tests (#5953)
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Templates.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplatesTest.cs
Owners: @microsoft/bf-adaptive

fix tests
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplatesTest.cs
Owners: @microsoft/bf-adaptive

Remove tests containing expired secrets
  tests/Microsoft.Bot.Connector.Tests/Authentication/JwtTokenValidationTests.cs
Owners: @microsoft/bf-auth

Remove tests with expired secrets
  tests/Microsoft.Bot.Connector.Tests/Authentication/JwtTokenValidationTests.cs
Owners: @microsoft/bf-auth

Update schema merge test results
  tests/tests.schema
Owners: @chrimc62, @tomlm

Remove tests with expired secrets
  tests/Microsoft.Bot.Connector.Tests/Authentication/JwtTokenValidationTests.cs
Owners: @microsoft/bf-auth

Update schema merge test results
  tests/tests.schema
  tests/tests.uischema
Owners: @chrimc62, @tomlm, @microsoft/bb-dotnet

Remove tests with expired secrets
  tests/Microsoft.Bot.Connector.Tests/Authentication/JwtTokenValidationTests.cs
Owners: @microsoft/bf-auth

Add missing test files
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/FileOperation.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/TestFile.txt
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Microsoft.Bot.Builder.LanguageGeneration.Tests.csproj
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplatesTest.cs
Owners: @microsoft/bf-adaptive

#minor cherry pick control property to 4.9 (#5960)
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Evaluator.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Expander.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Templates.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/FileOperation.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/TestFile.txt
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Microsoft.Bot.Builder.LanguageGeneration.Tests.csproj
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplatesTest.cs
  tests/Microsoft.Bot.Connector.Tests/Authentication/JwtTokenValidationTests.cs
  tests/tests.schema
Owners: @microsoft/bf-adaptive, @microsoft/bf-auth, @chrimc62, @tomlm

#minor CherryPick control property to 4.12 (#5957)
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Evaluator.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Expander.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Templates.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/ActivityFactoryTests.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/FileOperation.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/TestFile.txt
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Microsoft.Bot.Builder.LanguageGeneration.Tests.csproj
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplatesTest.cs
  tests/Microsoft.Bot.Connector.Tests/Authentication/JwtTokenValidationTests.cs
Owners: @microsoft/bf-adaptive, @microsoft/bf-auth

#minor CherryPick control property to 4.14 (#5956)
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Evaluator.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Expander.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Templates.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/ActivityFactoryTests.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplatesTest.cs
Owners: @microsoft/bf-adaptive

flip enableFromFile to false by default and fix unit tests (#5953) (#5955)
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Templates.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/ActivityFactoryTests.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplatesTest.cs
Owners: @microsoft/bf-adaptive

flip enableFromFile to false by default and fix unit tests (#5953) (#5954)
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Templates.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/ActivityFactoryTests.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplatesTest.cs
Owners: @microsoft/bf-adaptive

#minor CherryPick to 4.10: add control property (#5943) (#5959)
  libraries/Microsoft.Bot.Builder.AI.Orchestrator/OrchestratorAdaptiveRecognizer.cs
  libraries/Microsoft.Bot.Builder.Azure.Blobs/BlobsTranscriptStore.cs
  libraries/Microsoft.Bot.Builder.Azure.Queues/ContinueConversationLater.cs
  libraries/Microsoft.Bot.Builder.Azure/AzureBlobTranscriptStore.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Memory/Scopes/BotStateMemoryScope.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Evaluator.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Expander.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Templates.cs
  libraries/Microsoft.Bot.Builder/BotFrameworkAdapter.cs
  libraries/Microsoft.Bot.Builder/MemoryTranscriptStore.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/ActivityFactoryTests.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/FileOperation.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/TestFile.txt
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Microsoft.Bot.Builder.LanguageGeneration.Tests.csproj
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplatesTest.cs
  tests/Microsoft.Bot.Connector.Tests/Authentication/JwtTokenValidationTests.cs
  tests/tests.schema
  tests/tests.uischema
Owners: @microsoft/bf-cog-services, @microsoft/bb-dotnet, @EricDahlvang, @mrivera-ms, @microsoft/bf-dialogs, @microsoft/bf-adaptive, @gabog, @johnataylor, @microsoft/bf-auth, @chrimc62, @tomlm

flip enableFromFile to false by default and fix unit tests (#5953)
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Templates.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/ActivityFactoryTests.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplatesTest.cs
Owners: @microsoft/bf-adaptive

#minor CherryPick to 4.11: add control property (#5943) (#5958)
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Evaluator.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Expander.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Templates.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/ActivityFactoryTests.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/FileOperation.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/TestFile.txt
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Microsoft.Bot.Builder.LanguageGeneration.Tests.csproj
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplatesTest.cs
  tests/Microsoft.Bot.Connector.Tests/Authentication/JwtTokenValidationTests.cs
  tests/tests.schema
Owners: @microsoft/bf-adaptive, @microsoft/bf-auth, @chrimc62, @tomlm

Revert: Register missingProperties custom function to get all variables
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveDialogBot.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Functions/MissingPropertiesFunction.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/MultiLanguageGeneratorBase.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/TemplateEngineLanguageGenerator.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/LanguageGenerator.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/LanguageGeneratorExtensions.cs
  libraries/Microsoft.Bot.Builder.Dialogs/DialogContext.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Memory/TurnPath.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/LGGeneratorTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests.csproj
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/properties.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/ActionTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_MissingProperty.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/main.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/sub.lg
Owners: @microsoft/bf-adaptive, @microsoft/bf-dialogs

Revert: Register missingProperties custom function to get all variables (#5962)
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveDialogBot.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Functions/MissingPropertiesFunction.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/MultiLanguageGeneratorBase.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/TemplateEngineLanguageGenerator.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/LanguageGenerator.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/LanguageGeneratorExtensions.cs
  libraries/Microsoft.Bot.Builder.Dialogs/DialogContext.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Memory/TurnPath.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/LGGeneratorTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests.csproj
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/properties.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/ActionTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_MissingProperty.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/main.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/sub.lg
Owners: @microsoft/bf-adaptive, @microsoft/bf-dialogs

Revert: Register missingProperties custom function to get all variables (#5962)
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveDialogBot.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Functions/MissingPropertiesFunction.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/MultiLanguageGeneratorBase.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/TemplateEngineLanguageGenerator.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/LanguageGenerator.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/LanguageGeneratorExtensions.cs
  libraries/Microsoft.Bot.Builder.Dialogs/DialogContext.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Memory/TurnPath.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/LGGeneratorTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests.csproj
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/properties.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/ActionTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_MissingProperty.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/main.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/sub.lg
Owners: @microsoft/bf-adaptive, @microsoft/bf-dialogs

Revert: Register missingProperties custom function to get all variables (#5962) (#5963)
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveDialogBot.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Functions/MissingPropertiesFunction.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/MultiLanguageGeneratorBase.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/TemplateEngineLanguageGenerator.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/LanguageGenerator.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/LanguageGeneratorExtensions.cs
  libraries/Microsoft.Bot.Builder.Dialogs/DialogContext.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Memory/TurnPath.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/LGGeneratorTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests.csproj
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/properties.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/ActionTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_MissingProperty.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/main.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/sub.lg
Owners: @microsoft/bf-adaptive, @microsoft/bf-dialogs

Add functional test pipeline for Facebook secondary test bot (#5949)
  FunctionalTests/Microsoft.Bot.Builder.FunctionalTests/FacebookChatTests.cs
  build/yaml/botbuilder-dotnet-ci-facebook-test-secondary.yml
Owners: @gabog, @mrivera-ms, @microsoft/bb-dotnet

Add OpenIdMetadata endpoint support to CloudAdapter.
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/ConfigurationBotFrameworkAuthentication.cs
Owners: @microsoft/bb-dotnet-integration

Add ACCOUNT_UPDATE tag to messages
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookHelper.cs
Owners: @garypretty

Add ShowSignInLink to OAuthPromptSettings (#5906)
  libraries/Microsoft.Bot.Builder.Dialogs/Prompts/OAuthPrompt.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Prompts/OAuthPromptSettings.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/OAuthPromptTests.cs
Owners: @microsoft/bf-dialogs, @microsoft/bb-dotnet

Add ShowSignInLink to OAuthPromptSettings (#5906)
  libraries/Microsoft.Bot.Builder.Dialogs/Prompts/OAuthPrompt.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Prompts/OAuthPromptSettings.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/OAuthPromptTests.cs
Owners: @microsoft/bf-dialogs, @microsoft/bb-dotnet

Add diagnostics to FacebookClientWrapper throw HttpRequestException()
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookClientWrapper.cs
Owners: @garypretty

Add comment to client wrapper
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookClientWrapper.cs
Owners: @garypretty

Add ShowSignInLink to OAuthPromptSettings (#5906) (#5967)
  libraries/Microsoft.Bot.Builder.Dialogs/Prompts/OAuthPrompt.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Prompts/OAuthPromptSettings.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/OAuthPromptTests.cs
Owners: @microsoft/bf-dialogs, @microsoft/bb-dotnet

Add full request to HttpRequestException message
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookClientWrapper.cs
Owners: @garypretty

Update test adapter to only override channel Id when the value is not set by the test.
  libraries/Microsoft.Bot.Builder/Adapters/TestAdapter.cs
Owners: @gabog, @johnataylor

Add reqeust headers to HttpRequestException
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookClientWrapper.cs
Owners: @garypretty

[Cherry-Pick to 4.13] Add ShowSignInLink to OAuthPromptSettings (#5906) (#5966)
  libraries/Microsoft.Bot.Builder.Dialogs/Prompts/OAuthPrompt.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Prompts/OAuthPromptSettings.cs
  libraries/Microsoft.Bot.Builder/Adapters/TestAdapter.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/OAuthPromptTests.cs
Owners: @microsoft/bf-dialogs, @gabog, @johnataylor, @microsoft/bb-dotnet

Revert to HttpRequestException request payload.
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookClientWrapper.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookHelper.cs
Owners: @garypretty

feat: enabled custom recognizerOptions via dc.prompt
  libraries/Microsoft.Bot.Builder.Dialogs/Prompts/ChoicePrompt.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Prompts/PromptOptions.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/ChoicePromptTests.cs
Owners: @microsoft/bf-dialogs, @microsoft/bb-dotnet

feat: enabled custom RecognizerOptions via dc.prompt
  libraries/Microsoft.Bot.Builder.Dialogs/Prompts/ChoicePrompt.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Prompts/PromptOptions.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/ChoicePromptTests.cs
Owners: @microsoft/bf-dialogs, @microsoft/bb-dotnet

Try changing message to "Account Update..."
  FunctionalTests/Microsoft.Bot.Builder.FunctionalTests/FacebookChatTests.cs
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Facebook.PrimaryTestBot/Bots/PrimaryBot.cs
Owners: @gabog, @mrivera-ms, @garypretty

Undo "Account update"
  FunctionalTests/Microsoft.Bot.Builder.FunctionalTests/FacebookChatTests.cs
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Facebook.PrimaryTestBot/Bots/PrimaryBot.cs
Owners: @gabog, @mrivera-ms, @garypretty
