Repository Microsoft/botbuilder-dotnet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/bb-dotnet, @microsoft/bf-admin, @gabog, @mrivera-ms, @garypretty, @microsoft/bf-adaptive, @johnataylor, @munozemilio, @tomlm, @boydc2014, @chrimc62, @carlosscastro

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Bot Framework SDK notes:
# The first code owners for a file or library are the primary approvers.
# The later code owners represent a "escalation path" in case the primary code owners are unavailable.

# Global rule:
* @microsoft/bb-dotnet @microsoft/bf-admin

# Various C# Libraries
/FunctionalTests/**                 @gabog @mrivera-ms
/build/**                           @mrivera-ms

# Adapters
/libraries/Adapters/**              @garypretty

# Adaptive Expressions
/libraries/AdaptiveExpressions/**   @microsoft/bf-adaptive @microsoft/bb-dotnet @microsoft/bf-admin

# Platform Integration Libaries
/libraries/integration/Microsoft.Bot.Builder.Integration.ApplicationInsights.Core/**           @garypretty @microsoft/bb-dotnet @microsoft/bf-admin
/libraries/integration/Microsoft.Bot.Builder.Integration.ApplicationInsights.WebApi/**         @garypretty @microsoft/bb-dotnet @microsoft/bf-admin
/libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/**                        @johnataylor @microsoft/bb-dotnet @microsoft/bf-admin
/libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.WebApi/**                      @johnataylor @microsoft/bb-dotnet @microsoft/bf-admin

# Adaptive Dialogs
/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/**                                @microsoft/bf-adaptive @microsoft/bb-dotnet @microsoft/bf-admin
/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive.Teams/**                          @microsoft/bf-adaptive @microsoft/bb-dotnet @microsoft/bf-admin
/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive.Testing/**                        @microsoft/bf-adaptive @microsoft/bb-dotnet @microsoft/bf-admin
#   Adaptive Dialogs' tests
/tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Profiling/**                          @microsoft/bf-adaptive @microsoft/bb-dotnet @microsoft/bf-admin
/tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Teams.Tests/**                        @microsoft/bf-adaptive @microsoft/bb-dotnet @microsoft/bf-admin
/tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/**                    @microsoft/bf-adaptive @microsoft/bb-dotnet @microsoft/bf-admin
/tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/**                              @microsoft/bf-adaptive @microsoft/bb-dotnet @microsoft/bf-admin

# BotBuilder Libaries
/libraries/Microsoft.Bot.Builder/**                                                @mrivera-ms @gabog @johnataylor
/libraries/Microsoft.Bot.Builder.AI.LUIS/**                                        @munozemilio
/libraries/Microsoft.Bot.Builder.AI.QnA/**                                         @mrivera-ms @johnataylor
/libraries/Microsoft.Bot.Builder.ApplicationInsights/**                            @garypretty
/libraries/Microsoft.Bot.Builder.Azure/**                                          @mrivera-ms
/libraries/Microsoft.Bot.Builder.Dialogs/**                                        @mrivera-ms @gabog @johnataylor
/libraries/Microsoft.Bot.Builder.Dialogs.Debugging/**                              @mrivera-ms @tomlm @gabog
/libraries/Microsoft.Bot.Builder.Dialogs.Declarative/**                            @mrivera-ms @tomlm
/libraries/Microsoft.Bot.Builder.LanguageGeneration/**                             @mrivera-ms @tomlm @boydc2014 @chrimc62
/libraries/Microsoft.Bot.Builder.TemplateManager/**                                @mrivera-ms @tomlm
/libraries/Microsoft.Bot.Builder.Testing/**                                        @gabog
/libraries/Microsoft.Bot.Configuration/**                                          @tomlm
/libraries/Microsoft.Bot.Connector/**                                              @mrivera-ms @carlosscastro @johnataylor
/libraries/Microsoft.Bot.Schema/**                                                 @mrivera-ms @johnataylor
/libraries/Microsoft.Bot.Streaming/**                                              @mrivera-ms @carlosscastro

# Tests
/tests/AdaptiveExpressions.Tests/**                                                @tomlm @boydc2014 @chrimc62 
/tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/**                           @tomlm @boydc2014 @chrimc62

Update missing code docs for the Azure library (#4189)
  libraries/Microsoft.Bot.Builder.Azure/CosmosDBKeyEscape.cs
  libraries/Microsoft.Bot.Builder.Azure/CosmosDbPartitionedStorage.cs
  libraries/Microsoft.Bot.Builder.Azure/CosmosDbStorage.cs
  libraries/Microsoft.Bot.Builder.Azure/Microsoft.Bot.Builder.Azure.csproj
  libraries/Microsoft.Bot.Builder.Azure/Queues/ContinueConversationLater.cs
Owners: @mrivera-ms

Update missing code docs for the Azure library (#4189)
  libraries/Microsoft.Bot.Builder.Azure/CosmosDBKeyEscape.cs
  libraries/Microsoft.Bot.Builder.Azure/CosmosDbPartitionedStorage.cs
  libraries/Microsoft.Bot.Builder.Azure/CosmosDbStorage.cs
  libraries/Microsoft.Bot.Builder.Azure/Microsoft.Bot.Builder.Azure.csproj
  libraries/Microsoft.Bot.Builder.Azure/Queues/ContinueConversationLater.cs
Owners: @mrivera-ms

Move TelemetryClient property to DialogContainer (#4178)
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs/ComponentDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs/DialogContainer.cs
Owners: @microsoft/bf-adaptive, @microsoft/bb-dotnet, @microsoft/bf-admin, @mrivera-ms, @gabog, @johnataylor

Move TelemetryClient property to DialogContainer (#4178)
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs/ComponentDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs/DialogContainer.cs
Owners: @microsoft/bf-adaptive, @microsoft/bb-dotnet, @microsoft/bf-admin, @mrivera-ms, @gabog, @johnataylor

Add ImageAltText to CardAction (#4195)
  libraries/Microsoft.Bot.Schema/CardAction.cs
Owners: @mrivera-ms, @johnataylor

Add ImageAltText to CardAction (#4195)
  libraries/Microsoft.Bot.Schema/CardAction.cs
Owners: @mrivera-ms, @johnataylor

[Adaptive] Add Binary Data Parsing For Http Request (#3813)
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/HttpRequest.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.HttpRequest.schema
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/ActionTests.cs
Owners: @microsoft/bf-adaptive, @microsoft/bb-dotnet, @microsoft/bf-admin

[Adaptive] Add Binary Data Parsing For Http Request (#3813)
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/HttpRequest.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.HttpRequest.schema
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/ActionTests.cs
Owners: @microsoft/bf-adaptive, @microsoft/bb-dotnet, @microsoft/bf-admin

Changed "LIST" to "List"
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/ForEach.cs
Owners: @microsoft/bf-adaptive, @microsoft/bb-dotnet, @microsoft/bf-admin

Add Teams Channel Restored event (#4202)
  libraries/Microsoft.Bot.Builder/Teams/TeamsActivityHandler.cs
  tests/Microsoft.Bot.Builder.Tests/Teams/TeamsActivityHandlerTests.cs
Owners: @mrivera-ms, @gabog, @johnataylor, @microsoft/bb-dotnet, @microsoft/bf-admin

Add Teams Channel Restored event (#4202)
  libraries/Microsoft.Bot.Builder/Teams/TeamsActivityHandler.cs
  tests/Microsoft.Bot.Builder.Tests/Teams/TeamsActivityHandlerTests.cs
Owners: @mrivera-ms, @gabog, @johnataylor, @microsoft/bb-dotnet, @microsoft/bf-admin

Porting Adaptive Templates to Xunit (#4183)
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/ActivityFactoryTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/LGGeneratorTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests.csproj
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/Startup.cs
Owners: @microsoft/bf-adaptive, @microsoft/bb-dotnet, @microsoft/bf-admin

Porting Adaptive Templates to Xunit (#4183)
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/ActivityFactoryTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/LGGeneratorTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests.csproj
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/Startup.cs
Owners: @microsoft/bf-adaptive, @microsoft/bb-dotnet, @microsoft/bf-admin

Manually fixed some merge conflicts to match master
  libraries/Microsoft.Bot.Builder.AI.LUIS/Microsoft.Bot.Builder.AI.Luis.csproj
  libraries/Microsoft.Bot.Builder.AI.QnA/Models/QnAMakerTraceInfo.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/QnAMakerRecognizer.cs
Owners: @munozemilio, @mrivera-ms, @johnataylor

Fixed other naming errors for new variables that came with the merge
  libraries/Microsoft.Bot.Builder.AI.QnA/Dialogs/QnAMakerDialog.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/QnAMaker.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/Utils/BindToActivity.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/Utils/GenerateAnswerUtils.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/Utils/TrainUtils.cs
Owners: @mrivera-ms, @johnataylor

Add missing code docs for the AI libraries (LUIS / QnA) (#4147)
  libraries/Microsoft.Bot.Builder.AI.LUIS/Generator/GeographyV2.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/Generator/OrdinalV2.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/ITelemetryRecognizer.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/LuisAdaptiveRecognizer.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/LuisApplication.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/LuisComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/LuisExtensions.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/LuisRecognizer.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/LuisRecognizerOptions.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/LuisRecognizerOptionsV2.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/LuisRecognizerOptionsV3.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/LuisTelemetryConstants.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/Microsoft.Bot.Builder.AI.Luis.csproj
  libraries/Microsoft.Bot.Builder.AI.LUIS/V3/LuisApplication.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/Dialogs/QnAMakerDialog.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/ITelemetryQnAMaker.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/Microsoft.Bot.Builder.AI.QnA.csproj
  libraries/Microsoft.Bot.Builder.AI.QnA/Models/FeedbackRecords.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/Models/Metadata.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/Models/QnAMakerTraceInfo.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/QnAMaker.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/QnAMakerEndpoint.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/QnAMakerOptions.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/QnAMakerRecognizer.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/Utils/BindToActivity.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/Utils/GenerateAnswerUtils.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/Utils/QnATelemetryConstants.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/Utils/TrainUtils.cs
Owners: @munozemilio, @mrivera-ms, @johnataylor

Add missing code docs for the AI libraries (LUIS / QnA) (#4147)
  libraries/Microsoft.Bot.Builder.AI.LUIS/Generator/GeographyV2.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/Generator/OrdinalV2.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/ITelemetryRecognizer.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/LuisAdaptiveRecognizer.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/LuisApplication.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/LuisComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/LuisExtensions.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/LuisRecognizer.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/LuisRecognizerOptions.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/LuisRecognizerOptionsV2.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/LuisRecognizerOptionsV3.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/LuisTelemetryConstants.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/Microsoft.Bot.Builder.AI.Luis.csproj
  libraries/Microsoft.Bot.Builder.AI.LUIS/V3/LuisApplication.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/Dialogs/QnAMakerDialog.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/ITelemetryQnAMaker.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/Microsoft.Bot.Builder.AI.QnA.csproj
  libraries/Microsoft.Bot.Builder.AI.QnA/Models/FeedbackRecords.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/Models/Metadata.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/Models/QnAMakerTraceInfo.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/QnAMaker.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/QnAMakerEndpoint.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/QnAMakerOptions.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/QnAMakerRecognizer.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/Utils/BindToActivity.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/Utils/GenerateAnswerUtils.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/Utils/QnATelemetryConstants.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/Utils/TrainUtils.cs
Owners: @munozemilio, @mrivera-ms, @johnataylor

doc cleanup (#4162)
  doc/AdaptiveDialog/memoryRulesSteps.md
  doc/AdaptiveDialog/readme.md
  doc/BUILD 2019 BOM/AdaptiveDialogAndPromptWrappers.md
  doc/BUILD 2019 BOM/DeclarativeDialogAndPrompts.md
  doc/BUILD 2019 BOM/LanguageGeneration.md
  doc/BUILD 2019 BOM/commonExpressionLanguage.md
  doc/CommonExpressionLanguage/api-reference.md
  doc/CommonExpressionLanguage/prebuilt-functions.md
  doc/CommonExpressionLanguage/readme.md
  doc/LanguageGeneration/api-reference.md
  doc/LanguageGeneration/lg-file-format.md
  doc/LanguageGeneration/readme.md
Owners: @microsoft/bb-dotnet, @microsoft/bf-admin

doc cleanup (#4162)
  doc/AdaptiveDialog/memoryRulesSteps.md
  doc/AdaptiveDialog/readme.md
  doc/BUILD 2019 BOM/AdaptiveDialogAndPromptWrappers.md
  doc/BUILD 2019 BOM/DeclarativeDialogAndPrompts.md
  doc/BUILD 2019 BOM/LanguageGeneration.md
  doc/BUILD 2019 BOM/commonExpressionLanguage.md
  doc/CommonExpressionLanguage/api-reference.md
  doc/CommonExpressionLanguage/prebuilt-functions.md
  doc/CommonExpressionLanguage/readme.md
  doc/LanguageGeneration/api-reference.md
  doc/LanguageGeneration/lg-file-format.md
  doc/LanguageGeneration/readme.md
Owners: @microsoft/bb-dotnet, @microsoft/bf-admin
