Repository microsoft/botbuilder-dotnet, pull requests merged in 2018-05, with the labels that each got.

#566 Leverage Azure's MultiBufferMemoryStream and Blob client BufferManager for pooling resources
  libraries/Microsoft.Bot.Builder.Azure/AzureBlobStorage.cs
  tests/Microsoft.Bot.Builder.Azure.Tests/BlobStorageTests.cs
  tests/Microsoft.Bot.Builder.Core.Extensions.Tests/StorageBaseTests.cs
Labels: state-management

#574 Add Check for CosmosDB emulator actually running.
  libraries/Microsoft.Bot.Builder.Azure/AzureBlobStorage.cs
  libraries/Microsoft.Bot.Builder.Azure/AzureTableStorage.cs
  tests/Microsoft.Bot.Builder.Azure.Tests/CosmosDbStorageTests.cs
Labels: build

#556 Expose/consume BotFrameworkAdapter as a dependency in ASP.NET integrations
  Microsoft.Bot.Builder.sln
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/ApplicationBuilderExtensions.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/BotFrameworkOptions.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/BotMessageHandler.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/BotMessageHandlerBase.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/BotProactiveMessageHandler.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/Microsoft.Bot.Builder.Integration.AspNet.Core.csproj
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/ServiceCollectionExtensions.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.WebApi/BotFrameworkConfigurationBuilder.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.WebApi/BotFrameworkOptions.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.WebApi/BotMessageHandler.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.WebApi/BotMessageHandlerBase.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.WebApi/BotProactiveMessageHandler.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.WebApi/HttpConfigurationExtensions.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.WebApi/Microsoft.Bot.Builder.Integration.AspNet.WebApi.csproj
  tests/integration/Microsoft.Bot.Builder.Integration.AspNet.Core.Tests/ApplicationBuilderExtensionsTests.cs
  tests/integration/Microsoft.Bot.Builder.Integration.AspNet.Core.Tests/Microsoft.Bot.Builder.Integration.AspNet.Core.Tests.csproj
  tests/integration/Microsoft.Bot.Builder.Integration.AspNet.Core.Tests/ServiceCollectionExtensionsTests.cs
  tests/integration/Microsoft.Bot.Builder.Integration.AspNet.Core.Tests/ServiceResolutionTests.cs
  tests/integration/Microsoft.Bot.Builder.Integration.AspNet.WebApi.Tests/HttpConfigurationExtensionsTests.cs
  tests/integration/Microsoft.Bot.Builder.Integration.AspNet.WebApi.Tests/Microsoft.Bot.Builder.Integration.AspNet.WebApi.Tests.csproj
  tests/integration/Microsoft.Bot.Builder.Integration.AspNet.WebApi.Tests/Properties/AssemblyInfo.cs
  tests/integration/Microsoft.Bot.Builder.Integration.AspNet.WebApi.Tests/app.config
  tests/integration/Microsoft.Bot.Builder.Integration.AspNet.WebApi.Tests/packages.config
Labels: aspnet, integration, testing

#597 Better handle IBot dependency resolution exceptions in WebAPI
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.WebApi/BotMessageHandlerBase.cs
Labels: aspnet, bug, integration

#595 Move endpoint path config to BotFrameworkOptions
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/ApplicationBuilderExtensions.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/BotFrameworkOptions.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/ServiceCollectionExtensions.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.WebApi/BotFrameworkOptions.cs
  tests/integration/Microsoft.Bot.Builder.Integration.AspNet.Core.Tests/ApplicationBuilderExtensionsTests.cs
Labels: aspnet, integration

#605 SendActivities Performance Optimizations
  libraries/Microsoft.Bot.Builder.Core/Adapters/ConsoleAdapter.cs
  libraries/Microsoft.Bot.Builder.Core/Adapters/TestAdapter.cs
  libraries/Microsoft.Bot.Builder.Core/TurnContext.cs
  libraries/Microsoft.Bot.Builder/BotFrameworkAdapter.cs
Labels: perf

#621 Set up GitHub source links for debug support
  libraries/Microsoft.Bot.Builder.Ai.LUIS/Microsoft.Bot.Builder.Ai.LUIS.csproj
  libraries/Microsoft.Bot.Builder.Ai.QnA/Microsoft.Bot.Builder.Ai.QnA.csproj
  libraries/Microsoft.Bot.Builder.Ai.Translation/Microsoft.Bot.Builder.Ai.Translation.csproj
  libraries/Microsoft.Bot.Builder.Azure/Microsoft.Bot.Builder.Azure.csproj
  libraries/Microsoft.Bot.Builder.Classic/Microsoft.Bot.Builder.Classic/Microsoft.Bot.Builder.Classic.csproj
  libraries/Microsoft.Bot.Builder.Classic/Microsoft.Bot.Builder.Classic/packages.config
  libraries/Microsoft.Bot.Builder.Classic/RView/RView.csproj
  libraries/Microsoft.Bot.Builder.Classic/RView/packages.config
  libraries/Microsoft.Bot.Builder.Core.Extensions/Microsoft.Bot.Builder.Core.Extensions.csproj
  libraries/Microsoft.Bot.Builder.Core/Microsoft.Bot.Builder.Core.csproj
  libraries/Microsoft.Bot.Builder.Dialogs/Microsoft.Bot.Builder.Dialogs.csproj
  libraries/Microsoft.Bot.Builder.Prompts/Microsoft.Bot.Builder.Prompts.csproj
  libraries/Microsoft.Bot.Builder.TemplateManager/Microsoft.Bot.Builder.TemplateManager.csproj
  libraries/Microsoft.Bot.Builder/Microsoft.Bot.Builder.csproj
  libraries/Microsoft.Bot.Connector/Microsoft.Bot.Connector.csproj
  libraries/Microsoft.Bot.Schema/Microsoft.Bot.Schema.csproj
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/Microsoft.Bot.Builder.Integration.AspNet.Core.csproj
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.WebApi/Microsoft.Bot.Builder.Integration.AspNet.WebApi.csproj
Labels: build

#604 Centralize NuGet packages output for VS builds
  Directory.Build.props
Labels: build

#617 Optimize Activity::IsActivity helper method
  libraries/Microsoft.Bot.Schema/ActivityEx.cs
Labels: perf
