Repository microsoft/botbuilder-dotnet, pull requests merged in 2019-09, with the labels that each got.

#2469 Create Microsoft.QnAMakerAction.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.QnAMakerAction.schema
Labels: adaptive

#2468 IMemoryScope for LG/Expression
  libraries/Microsoft.Bot.Builder.Expressions/BuiltInFunctions.cs
  libraries/Microsoft.Bot.Builder.Expressions/ComposedObjectScope.cs
  libraries/Microsoft.Bot.Builder.Expressions/Expression.cs
  libraries/Microsoft.Bot.Builder.Expressions/ExpressionEvaluator.cs
  libraries/Microsoft.Bot.Builder.Expressions/IMemoryScope.cs
  libraries/Microsoft.Bot.Builder.Expressions/SimpleObjectScope.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/ActionTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/MiscTests.cs
  tests/Microsoft.Bot.Builder.Expressions.Tests/ExpressionEngineTests.cs
Labels: adaptive

#2510 updating mention stripping scenario for Teams
  libraries/Microsoft.Bot.Schema/ActivityExtensions.cs
  tests/Microsoft.Bot.Schema.Tests/ActivityTest.cs
Labels: 4.6

#2522 update TeamsActivityHandler SelectItem to pass JObject
  libraries/Microsoft.Bot.Builder.Teams/TeamsActivityHandler.cs
Labels: 4.6, teams

#2529 add initial action based ME scenarios
  tests/Teams/ActionBasedMessagingExtension-FetchTask/ActionBasedMessagingExtensionFetchTask.csproj
  tests/Teams/ActionBasedMessagingExtension-FetchTask/AdapterWithErrorHandler.cs
  tests/Teams/ActionBasedMessagingExtension-FetchTask/Bots/ActionBasedMessagingExtensionFetchTaskBot.cs
  tests/Teams/ActionBasedMessagingExtension-FetchTask/Controllers/BotController.cs
  tests/Teams/ActionBasedMessagingExtension-FetchTask/Program.cs
  tests/Teams/ActionBasedMessagingExtension-FetchTask/Startup.cs
  tests/Teams/ActionBasedMessagingExtension-FetchTask/TeamsAppManifest/color.png
  tests/Teams/ActionBasedMessagingExtension-FetchTask/TeamsAppManifest/manifest.json
  tests/Teams/ActionBasedMessagingExtension-FetchTask/TeamsAppManifest/outline.png
  tests/Teams/ActionBasedMessagingExtension-FetchTask/TeamsAppManifest/outline.zip
  tests/Teams/ActionBasedMessagingExtension-FetchTask/appsettings.Development.json
  tests/Teams/ActionBasedMessagingExtension-FetchTask/appsettings.json
  tests/Teams/ActionBasedMessagingExtension-FetchTask/wwwroot/default.html
  tests/Teams/ActionBasedMessagingExtension/ActionBasedMessagingExtension.csproj
  tests/Teams/ActionBasedMessagingExtension/AdapterWithErrorHandler.cs
  tests/Teams/ActionBasedMessagingExtension/Bots/ActionBasedMessagingExtensionBot.cs
  tests/Teams/ActionBasedMessagingExtension/Controllers/BotController.cs
  tests/Teams/ActionBasedMessagingExtension/Program.cs
  tests/Teams/ActionBasedMessagingExtension/Startup.cs
  tests/Teams/ActionBasedMessagingExtension/TeamsAppManifest/color.png
  tests/Teams/ActionBasedMessagingExtension/TeamsAppManifest/manifest.json
  tests/Teams/ActionBasedMessagingExtension/TeamsAppManifest/outline.png
  tests/Teams/ActionBasedMessagingExtension/TeamsAppManifest/outline.zip
  tests/Teams/ActionBasedMessagingExtension/appsettings.Development.json
  tests/Teams/ActionBasedMessagingExtension/appsettings.json
  tests/Teams/ActionBasedMessagingExtension/wwwroot/default.html
  tests/Teams/Scenarios.sln
Labels: 4.6, teams

#2520 Concat Attachments if exist in Prompt::AppendChoices
  libraries/Microsoft.Bot.Builder.Dialogs/Prompts/Prompt.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/ChoicePromptTests.cs
Labels: parity with JS, parity with python

#2481 Fixed Teams TenantId/ChannelData issue
  libraries/Microsoft.Bot.Builder/BotFrameworkAdapter.cs
  tests/Microsoft.Bot.Builder.Tests/BotFrameworkAdapterTests.cs
Labels: blocked, parity with JS, parity with python

#2500 Make lg error tolerable and add template CRUD operations to lgresource
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Analyzer.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Evaluator.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Expander.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGFileLexer.g4
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGFileParser.g4
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGParser.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGResource.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGTemplate.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/StaticChecker.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/2.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplateEngineTest.cs
Labels: adaptive

#2524 Certificate authentication: Enable cert auth and start the shift away from ICredentialProvider.
  FunctionalTests/Microsoft.Bot.Builder.FunctionalTests/Certificates/test.auth.botframework.com.cer
  FunctionalTests/Microsoft.Bot.Builder.FunctionalTests/Certificates/test.auth.botframework.com.pfx
  libraries/Microsoft.Bot.Builder/BotFrameworkAdapter.cs
  libraries/Microsoft.Bot.Builder/Integration/BotFrameworkOptions.cs
  libraries/Microsoft.Bot.Connector/Authentication/AdalAuthenticator.cs
  libraries/Microsoft.Bot.Connector/Authentication/AppCredentials.cs
  libraries/Microsoft.Bot.Connector/Authentication/CertificateAppCredentials.cs
  libraries/Microsoft.Bot.Connector/Authentication/MicrosoftAppCredentials.cs
  libraries/Microsoft.Bot.Connector/ConnectorClientEx.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/ServiceCollectionExtensions.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.WebApi/HttpConfigurationExtensions.cs
  tests/integration/Microsoft.Bot.Builder.Integration.AspNet.Core.Tests/Mocks/MockAppCredentials.cs
  tests/integration/Microsoft.Bot.Builder.Integration.AspNet.Core.Tests/ServiceCollectionExtensionsTests.cs
Labels: parity with JS, parity with Java, parity with python

#2535 Adding a project to show how mentions works
  tests/Teams/Mentions/AdapterWithErrorHandler.cs
  tests/Teams/Mentions/Bots/MentionsBot.cs
  tests/Teams/Mentions/Controllers/BotController.cs
  tests/Teams/Mentions/Mentions.csproj
  tests/Teams/Mentions/Mentions.sln
  tests/Teams/Mentions/Program.cs
  tests/Teams/Mentions/Startup.cs
  tests/Teams/Mentions/TeamsAppManifest/color.png
  tests/Teams/Mentions/TeamsAppManifest/color.zip
  tests/Teams/Mentions/TeamsAppManifest/manifest.json
  tests/Teams/Mentions/TeamsAppManifest/outline.png
  tests/Teams/Mentions/appsettings.Development.json
  tests/Teams/Mentions/appsettings.json
  tests/Teams/Mentions/wwwroot/default.html
  tests/Teams/Roster/Bots/RosterBot.cs
  tests/Teams/Scenarios.sln
Labels: 4.6, teams

#2562 Dropped turn.stepCount in favor of turn.interrupted
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/DebugBreak.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/InputDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Constants/TurnPath.cs
Labels: adaptive

#2563 Check maxTurnCount for interruptions
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/InputDialog.cs
Labels: adaptive

#2568 Fix LanguageGeneration initialization with no resourceExplorer
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Resources/FolderResourceProvider.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Resources/IResourceProvider.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Resources/ResourceExplorer.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration.Templates/LGAdapterExtensions.cs
  tests/Microsoft.Bot.Builder.Dialogs.Declarative.Tests/JsonLoadTests.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Templates.Tests/LGGeneratorTests.cs
Labels: 4.6, adaptive, bug

#2557 Adding Proactive Solution
  tests/Teams/ProactiveMessages/AdapterWithErrorHandler.cs
  tests/Teams/ProactiveMessages/Bots/ProactiveMessageBot.cs
  tests/Teams/ProactiveMessages/Controllers/BotController.cs
  tests/Teams/ProactiveMessages/ProactiveMessages.csproj
  tests/Teams/ProactiveMessages/ProactiveMessages.sln
  tests/Teams/ProactiveMessages/Program.cs
  tests/Teams/ProactiveMessages/Startup.cs
  tests/Teams/ProactiveMessages/TeamsAppManifest/color.png
  tests/Teams/ProactiveMessages/TeamsAppManifest/manifest.json
  tests/Teams/ProactiveMessages/TeamsAppManifest/outline.png
  tests/Teams/ProactiveMessages/appsettings.Development.json
  tests/Teams/ProactiveMessages/appsettings.json
  tests/Teams/ProactiveMessages/wwwroot/default.html
  tests/Teams/Scenarios.sln
Labels: 4.6, teams

#2560 [Teams Scenario] Notification only bot
  tests/Teams/NotificationOnly/AdapterWithErrorHandler.cs
  tests/Teams/NotificationOnly/Bots/NotificationOnlyBot.cs
  tests/Teams/NotificationOnly/Controllers/BotController.cs
  tests/Teams/NotificationOnly/NotificationOnly.csproj
  tests/Teams/NotificationOnly/NotificationOnly.sln
  tests/Teams/NotificationOnly/Program.cs
  tests/Teams/NotificationOnly/Startup.cs
  tests/Teams/NotificationOnly/TeamsAppManifest/color.png
  tests/Teams/NotificationOnly/TeamsAppManifest/color.zip
  tests/Teams/NotificationOnly/TeamsAppManifest/manifest.json
  tests/Teams/NotificationOnly/TeamsAppManifest/outline.png
  tests/Teams/NotificationOnly/appsettings.Development.json
  tests/Teams/NotificationOnly/appsettings.json
  tests/Teams/NotificationOnly/wwwroot/default.html
  tests/Teams/Scenarios.sln
Labels: 4.6, teams

#2570 Remove LanguageGeneratorLoader and "DefaultLanguageGenerator"
  libraries/Microsoft.Bot.Builder.LanguageGeneration.Templates/LanguageGenerationComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration.Templates/LanguageGeneratorConverter.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration.Templates/LanguageGeneratorLoader.cs
Labels: 4.6, adaptive

#2578 Remove Expressions library dependency from .dialogs assembly
  Microsoft.Bot.Builder(Preview).sln
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Converters/ExpressionPropertyConverter.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/ExpressionProperty.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Memory/DialogStateManager.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Microsoft.Bot.Builder.Dialogs.csproj
  libraries/Microsoft.Bot.Builder.Dialogs/ObjectPath.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/ActionTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Declarative.Tests/ExpressionPropertyTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/MemoryScopeTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/ObjectPathTests.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Templates.Tests/LGGeneratorTests.cs
Labels: 4.6, adaptive

#2572 added readme for link unfurling scenario
  tests/Teams/LinkUnfurling/1569017810114.png
  tests/Teams/LinkUnfurling/README.md
  tests/Teams/LinkUnfurling/TeamsAppManifest/manifest.json
Labels: 4.6, teams

#2577 Teams ActionBasedMessagingExtensionFetchTask Scenario
  libraries/Microsoft.Bot.Builder.Teams/TeamsActivityHandler.cs
  tests/Microsoft.Bot.Builder.Teams.Tests/TeamsActivityHandlerTests.cs
  tests/Teams/ActionBasedMessagingExtension-FetchTask/ActionBasedMessagingExtensionFetchTask.csproj
  tests/Teams/ActionBasedMessagingExtension-FetchTask/BotIconInComposeBox.png
  tests/Teams/ActionBasedMessagingExtension-FetchTask/Bots/ActionBasedMessagingExtensionFetchTaskBot.cs
  tests/Teams/ActionBasedMessagingExtension-FetchTask/CardInComposeWindow.png
  tests/Teams/ActionBasedMessagingExtension-FetchTask/PinToComposeBox.png
  tests/Teams/ActionBasedMessagingExtension-FetchTask/README.md
  tests/Teams/ActionBasedMessagingExtension-FetchTask/TaskModuleFields.png
  tests/Teams/ActionBasedMessagingExtension-FetchTask/TeamsAppManifest/manifest.json
  tests/Teams/ActionBasedMessagingExtension-FetchTask/UserCardInteraction.png
Labels: 4.6, teams

#2598 [Teams] Allow null response from OnTeamsTaskModuleSubmitAsync
  libraries/Microsoft.Bot.Builder.Teams/TeamsActivityHandler.cs
Labels: 4.6, teams

#2588 ActionBasedMessagingExtension Scenario
  tests/Teams/ActionBasedMessagingExtension/Bots/ActionBasedMessagingExtensionBot.cs
  tests/Teams/ActionBasedMessagingExtension/TeamsAppManifest/manifest.json
Labels: 4.6, teams

#2596 send trace of memory on end of turn
  libraries/Microsoft.Bot.Builder.Dialogs/DialogManager.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Memory/DialogStateManager.cs
  tests/Microsoft.Bot.Builder.Dialogs.Declarative.Tests/JsonLoadTests.cs
Labels: 4.6, adaptive

#2611 [TEAMS] Porting scenario for compose extesnion
  libraries/Microsoft.Bot.Builder.Teams/TeamsActivityHandler.cs
  libraries/Microsoft.Bot.Schema.Teams/Generated/MessagingExtensionResponse.cs
  tests/Microsoft.Bot.Builder.Teams.Tests/TeamsActivityHandlerTests.cs
  tests/Teams/ActionBasedMessagingExtension-FetchTask/Bots/ActionBasedMessagingExtensionFetchTaskBot.cs
  tests/Teams/ComposeMessagingExtensions/AdapterWithErrorHandler.cs
  tests/Teams/ComposeMessagingExtensions/BotIconInComposeBox.png
  tests/Teams/ComposeMessagingExtensions/Bots/ComposeMessagingExtensionsBot.cs
  tests/Teams/ComposeMessagingExtensions/CardInComposeWindow.png
  tests/Teams/ComposeMessagingExtensions/ComposeMessagingExtensions.csproj
  tests/Teams/ComposeMessagingExtensions/ComposeMessagingExtensions.sln
  tests/Teams/ComposeMessagingExtensions/Controllers/BotController.cs
  tests/Teams/ComposeMessagingExtensions/PinToComposeBox.png
  tests/Teams/ComposeMessagingExtensions/Program.cs
  tests/Teams/ComposeMessagingExtensions/Startup.cs
  tests/Teams/ComposeMessagingExtensions/TaskModuleFields.png
  tests/Teams/ComposeMessagingExtensions/TeamsAppManifest/color.png
  tests/Teams/ComposeMessagingExtensions/TeamsAppManifest/manifest.json
  tests/Teams/ComposeMessagingExtensions/TeamsAppManifest/outline.png
  tests/Teams/ComposeMessagingExtensions/UserCardInteraction.png
  tests/Teams/ComposeMessagingExtensions/appsettings.Development.json
  tests/Teams/ComposeMessagingExtensions/appsettings.json
  tests/Teams/ComposeMessagingExtensions/wwwroot/default.html
  tests/Teams/ReplyToChannel/TeamsAppManifest/color.zip
  tests/Teams/Scenarios.sln
Labels: 4.6, teams

#2539 [QnAMaker] QnAMaker Action schema
  libraries/Microsoft.Bot.Builder.AI.QnA/Microsoft.Bot.Builder.AI.QnA.csproj
  libraries/Microsoft.Bot.Builder.AI.QnA/Microsoft.QnAMakerAction.schema
Labels: adaptive

#2608 Fix DialogMemoryScope
  libraries/Microsoft.Bot.Builder.Dialogs/DialogTurnResult.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Memory/Scopes/DialogMemoryScope.cs
Labels: adaptive

#2513 [QnAMaker] First version of QnAMakerAction
  libraries/Microsoft.Bot.Builder.AI.QnA/Microsoft.Bot.Builder.AI.QnA.csproj
  libraries/Microsoft.Bot.Builder.AI.QnA/QnADialogResponseOptions.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/QnAMakerAction.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/QnAMakerActionBuilder.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/QnAMakerDialog.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/Utils/QnACardBuilder.cs
  libraries/Microsoft.Bot.Builder/Adapters/TestFlow.cs
  tests/Microsoft.Bot.Builder.AI.QnA.Tests/Microsoft.Bot.Builder.AI.QnA.Tests.csproj
  tests/Microsoft.Bot.Builder.AI.QnA.Tests/QnAMakerCardEqualityComparer.cs
  tests/Microsoft.Bot.Builder.AI.QnA.Tests/QnAMakerTests.cs
  tests/Microsoft.Bot.Builder.AI.QnA.Tests/TestData/QnaMaker_ReturnAnswer_MultiTurnLevel1.json
  tests/Microsoft.Bot.Builder.AI.QnA.Tests/TestData/QnaMaker_ReturnAnswer_withPrompts.json
Labels: adaptive

#2632 adding openApp action type
  libraries/Microsoft.Bot.Schema/ActionTypes.cs
  libraries/Microsoft.Bot.Schema/CardAction.cs
Labels: 4.6, teams
