Repository microsoft/botbuilder-dotnet, pull requests merged in 2019-11, with the labels that each got.

#2971 Adds ClaimValidator to AuthtentcationConfiguration
  libraries/Microsoft.Bot.Builder/BotFrameworkAdapter.cs
  libraries/Microsoft.Bot.Builder/Streaming/BotFrameworkHttpAdapterBase.cs
  libraries/Microsoft.Bot.Connector/Authentication/AuthenticationConfiguration.cs
  libraries/Microsoft.Bot.Connector/Authentication/ClaimsValidator.cs
  libraries/Microsoft.Bot.Connector/Authentication/JwtTokenValidation.cs
  libraries/Microsoft.Bot.Connector/Authentication/SkillValidation.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/BotFrameworkHttpAdapter.cs
  tests/Microsoft.Bot.Builder.TestBot.Json/TestBotHttpAdapter.cs
  tests/Microsoft.Bot.Connector.Tests/Authentication/JwtTokenValidationTests.cs
  tests/Microsoft.Bot.Connector.Tests/Authentication/SkillValidationTests.cs
Labels: R7, Skills

#2892 Fix schema typo + Fix EmitEvent code and schema not aligned
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/EmitEvent.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.EmitEvent.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Templates/Microsoft.StaticActivityTemplate.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/TriggerConditions/Microsoft.OnRepromptDialog.schema
  schemas/sdk.schema
  tests/Microsoft.Bot.Builder.TestBot.Json/app.schema
Labels: adaptive

#2922 Add null, enum tests for ObjectPath
  tests/Microsoft.Bot.Builder.Dialogs.Tests/ObjectPathTests.cs
Labels: adaptive

#2907 Support multi-linguage fall back + validation at initialization time.
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/LanguageGeneratorManager.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/TemplateEngineLanguageGenerator.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/LGAdapterExtensions.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Microsoft.Bot.Builder.Dialogs.Adaptive.csproj
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/MultiLanguageResourceLoader.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/LGGeneratorTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/MessageGeneratorTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/a.en-US.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/a.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/b.en-us.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/b.en.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/b.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/common.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/import.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/test.en.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/test.fr.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/test.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/test.zh-cn.lg
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/ToDoLuisBot/ToDoLuisBot.lg
Labels: LG, adaptive

#2914 Add type checking in ActivityFactory
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/ActivityChecker.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/ActivityFactory.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/ActivityCheckerTest.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/DignosticStructuredLG.lg
Labels: adaptive

#2937 external file reference in Attachment structured
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/ActivityChecker.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/ActivityFactory.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/LanguageGeneratorManager.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/TemplateEngineLanguageGenerator.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Evaluator.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/MessageGeneratorTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/NormalStructuredLG.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/herocard.json
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/microsoft.bot.builder.dialogs.adaptive.templates.tests.csproj
Labels: adaptive

#2982 [Lg] add should fail tests for multi lang
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/LGGeneratorTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/b.en-us.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/b.en.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/b.lg
Labels: adaptive

#2978 Nigao/retry
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/SetProperty.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/Ask.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Constants/DialogPath.cs
Labels: adaptive

#3005 fix expression escape issue
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Evaluator.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/StructuredTemplate.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplateEngineTest.cs
Labels: LG

#3015 Fix multi-lang resource generator enumerate locale blindly
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/LanguageGeneratorManager.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/TemplateEngineLanguageGenerator.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/LGGeneratorTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/b.en-us.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/c.en.lg
Labels: LG, P1, adaptive, bug

#2923 IMemory as the interface to Expression
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Memory/DialogStateManager.cs
  libraries/Microsoft.Bot.Builder.Dialogs/ObjectPath.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/CustomizedMemory.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/CustomizedMemoryScope.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/EvaluationTarget.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Evaluator.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/TemplateEngine.cs
  libraries/Microsoft.Bot.Expressions/BuiltInFunctions.cs
  libraries/Microsoft.Bot.Expressions/Expression.cs
  libraries/Microsoft.Bot.Expressions/ExpressionEvaluator.cs
  libraries/Microsoft.Bot.Expressions/Memory/ComposedMemory.cs
  libraries/Microsoft.Bot.Expressions/Memory/IMemory.cs
  libraries/Microsoft.Bot.Expressions/Memory/SimpleObjectMemory.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplateEngineTest.cs
  tests/Microsoft.Bot.Expressions.Tests/ExpressionEngineTests.cs
Labels: adaptive

#3038 Fix namespace on ChannelServiceHandler
  libraries/Microsoft.Bot.Builder/ChannelServiceHandler.cs
Labels: R7, Skills

#3032 DialogSet dependencies not initialized correctly when created each turn
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveDialog.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/MiscTests.cs
Labels: R7, adaptive, bug

#3025 Make DialogStateManager non-static configurable and async load/save
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/DialogManager.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Memory/DialogContextExtensions.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Memory/DialogStateManager.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Memory/DialogStateManagerConfiguration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Memory/Scopes/BotStateMemoryScope.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Memory/Scopes/ClassMemoryScope.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Memory/Scopes/ConversationMemoryScope.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Memory/Scopes/MemoryScope.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Memory/Scopes/UserMemoryScope.cs
  tests/Microsoft.Bot.Builder.Dialogs.Declarative.Tests/JsonLoadTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/DialogStateManagerTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/MemoryScopeTests.cs
Labels: adaptive
