Repository microsoft/botbuilder-dotnet, pull requests merged in 2019-07, with the labels that each got.

#2103 EditArray Bug Fix + minor schema update
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/baseInputSchema.json
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Steps/EditArray.cs
Labels: Adaptive

#2130 Use common regex in RegexRecognizer
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/RegexRecognizer.cs
  libraries/Microsoft.Bot.Builder.Expressions/CommonRegex.cs
Labels: Adaptive

#2144 [Adaptive] Add ChoiceProperty & Fix Issues
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/ChoiceInput.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/InputDialog.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/StepsTests.cs
Labels: Adaptive

#2175 Fix Resource Loading perf issues
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Steps/EditArray.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/DeclarativeTypeLoader.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Resolvers/IdRefResolver.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Resources/FileResource.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Resources/FolderResourceProvider.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Resources/IResource.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Resources/IResourceProvider.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Resources/ResourceExplorer.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration.Renderer/LanguageGeneratorManager.cs
  samples/Microsoft.Bot.Builder.TestBot.Json/Samples/BugRepo/AskForName.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Declarative.Tests/ResourceExplorerTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Declarative.Tests/root.schema
  tests/Microsoft.Bot.Builder.LanguageGeneration.Renderer.Tests/LGGeneratorTests.cs
Labels: Adaptive

#2173 will use the case insensitive dictionary.
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/ChoiceInput.cs
Labels: Adaptive

#2116 changed Dictionary to be case insensitive by passing in case insensitive StringComparer
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/ConfirmInput.cs
Labels: Adaptive

#2180 DialogManager: add tests for persistence verification of different memory scopes
  tests/Microsoft.Bot.Builder.Dialogs.Tests/DialogManagerTests.cs
Labels: Adaptive

#2183 add comments to choiceInput class
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/ChoiceInput.cs
Labels: Adaptive

#2187 [LG] Add expand function in TemplateEngine
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Expander.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/TemplateEngine.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/Expand.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Microsoft.Bot.Builder.LanguageGeneration.Tests.csproj
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplateEngineTest.cs
Labels: Adaptive

#2177 [Adaptive]Fix style property of confirm input
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/ConfirmInput.cs
Labels: Adaptive

#2193 State.SetValue() uses expression library providing complex expressions for assignment
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/InputDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Steps/DeleteProperty.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Steps/EditArray.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Steps/InitProperty.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Steps/SetProperty.cs
  libraries/Microsoft.Bot.Builder.Dialogs/DialogContextState.cs
  libraries/Microsoft.Bot.Builder.Dialogs/ObjectPath.cs
  libraries/Microsoft.Bot.Builder.Dialogs/StringPropertyTemplate.cs
  libraries/Microsoft.Bot.Builder.Expressions/Expression.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/DialogContextStateTests.cs
Labels: Adaptive

#2182 Consolidate getOsPAth() with PathUtils.NormalizePath()
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Resources/FolderResourceProvider.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Resources/ResourceExplorer.cs
  libraries/Microsoft.Bot.Builder.Dialogs/TextMessageActivityGenerator.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/TemplateEngine.cs
  libraries/Microsoft.Bot.Builder/FileTranscriptLogger.cs
  libraries/Microsoft.Bot.Builder/PathUtils.cs
  samples/Microsoft.Bot.Builder.TestBot.Json/TestBotLG.cs
  tests/Microsoft.Bot.Builder.Dialogs.Declarative.Tests/JsonLoadTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Declarative.Tests/ResourceExplorerTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/TextMessageGeneratorTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/lg/AdaptiveCardActivity.lg
  tests/Microsoft.Bot.Builder.Tests/TranscriptUtilities.cs
  tests/Microsoft.Bot.Configuration.Tests/ConfigurationLoadAndSaveTests.cs
  tests/Microsoft.Bot.Configuration.Tests/ConnectionTests.cs
Labels: Adaptive

#2209 [Adaptive] Fix a bug of inputs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/ChoiceInput.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/DateTimeInput.cs
Labels: Adaptive

#2195 [Expression] support variable path shorthand
  libraries/Microsoft.Bot.Builder.Expressions.Parser/Expression.g4
  libraries/Microsoft.Bot.Builder.Expressions.Parser/ExpressionEngine.cs
  libraries/Microsoft.Bot.Builder.Expressions/BuiltInFunctions.cs
  libraries/Microsoft.Bot.Builder.Expressions/ExpressionType.cs
  libraries/Microsoft.Bot.Builder.Expressions/Extensions.cs
  tests/Microsoft.Bot.Builder.Expressions.Tests/BadExpressionTests.cs
  tests/Microsoft.Bot.Builder.Expressions.Tests/ExpressionEngineTests.cs
Labels: Adaptive

#2191 Refine static checker
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Diagnostic.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/ErrorListener.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/ImportResolver.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGException.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGParser.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGResource.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/StaticChecker.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/TemplateEngine.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplateEngineThrowExceptionTest.cs
Labels: Adaptive

#2216 Throw error message when generator not found in multi language render
  libraries/Microsoft.Bot.Builder.LanguageGeneration.Renderer/MultiLanguageGeneratorBase.cs
Labels: Adaptive

#2232 Fix ImportResolverDelegate bug
  libraries/Microsoft.Bot.Builder.LanguageGeneration.Renderer/LanguageGeneratorManager.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/ImportResolver.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGResource.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/StaticChecker.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/TemplateEngine.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/Import/import3.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/import.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Microsoft.Bot.Builder.LanguageGeneration.Tests.csproj
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplateEngineTest.cs
Labels: Adaptive

#2251 LG in adaptive dialog don't support imports with relative path
  libraries/Microsoft.Bot.Builder.LanguageGeneration.Renderer/LanguageGeneratorManager.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/TemplateEngine.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Renderer.Tests/Fallback/import.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Renderer.Tests/LGGeneratorTests.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplateEngineTest.cs
Labels: Adaptive

#2255 Fix Input Dialog defaultValue issue and ForeachPage Listproperty
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/InputDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/SequenceContext.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Steps/ForEachPage.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/StepsTests.cs
Labels: Adaptive

#2208 Change Transcript Loggers to honor MesageUpdate/MessageDelete
  libraries/Microsoft.Bot.Builder.Azure/AzureBlobTranscriptStore.cs
  libraries/Microsoft.Bot.Builder.TemplateManager/TemplateManagerMiddleware.cs
  libraries/Microsoft.Bot.Builder/FileTranscriptLogger.cs
  libraries/Microsoft.Bot.Builder/MemoryTranscriptStore.cs
  tests/Microsoft.Bot.Builder.Azure.Tests/AzureBlobStorageTests.cs
  tests/Microsoft.Bot.Builder.Azure.Tests/AzureBlobTranscriptStoreTests.cs
  tests/Microsoft.Bot.Builder.Tests/FileTranscriptTests.cs
  tests/Microsoft.Bot.Builder.Tests/TranscriptBaseTests.cs
  tests/Microsoft.Bot.Builder.Tests/Transcript_MiddlewareTests.cs
Labels: 4.7, Adaptive

#2250 TemplateEngine.AddText should require fullPath as id when using default fileResolver
  libraries/Microsoft.Bot.Builder.LanguageGeneration.Renderer/LGAdapterExtensions.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration.Renderer/LanguageGeneratorManager.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration.Renderer/TemplateEngineLanguageGenerator.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/ImportResolver.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/TemplateEngine.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/TextMessageGeneratorTests.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Renderer.Tests/LGGeneratorTests.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplateEngineTest.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplateEngineThrowExceptionTest.cs
Labels: Adaptive

#2248 Schema update for CancelAllDialogs + HttpRequest + EmitEvent
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Steps/Microsoft.CancelAllDialogs.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Steps/Microsoft.EmitEvent.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Steps/Microsoft.HttpRequest.schema
Labels: Adaptive

#2294 Dialog and Sequence Context: make decisions about inherited state more flexible
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/SequenceContext.cs
  libraries/Microsoft.Bot.Builder.Dialogs/DialogContext.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/AdaptiveDialogTests.cs
Labels: Adaptive

#2282 Update /// comments for WaterfallStepContext and DialogContext
  libraries/Microsoft.Bot.Builder.Dialogs/DialogContext.cs
  libraries/Microsoft.Bot.Builder.Dialogs/DialogTurnStatus.cs
  libraries/Microsoft.Bot.Builder.Dialogs/WaterfallStepContext.cs
Labels: Docs

#2277 Update the Activity class /// comments
  libraries/Microsoft.Bot.Schema/ActivityEx.cs
  libraries/Microsoft.Bot.Schema/ITraceActivity.cs
Labels: Docs

#2295 Adaptive: Options are passed to child steps + BeginDialog databinds options
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Steps/BaseInvokeDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Steps/BeginDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Steps/ReplaceDialog.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/AdaptiveDialogTests.cs
Labels: Adaptive

#2296 Adaptive: Minor style and cosmetic fixes
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Steps/IfCondition.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Steps/SendActivity.cs
  libraries/Microsoft.Bot.Builder.Dialogs/IActivityGenerator.cs
  libraries/Microsoft.Bot.Builder.Dialogs/IDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs/IDialogDependencies.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/SettingsStateTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/StepsTests.cs
Labels: Adaptive

#2310 Adaptive: Ignore casing on locale + tests
  libraries/Microsoft.Bot.Builder.Dialogs/LanguagePolicy.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Prompts/ChoicePrompt.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/RecognizerTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/StepsTests.cs
Labels: Adaptive

#2337 Added turn.processInput as a way for input step to re-process user utterance
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/InputDialog.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/AdaptiveDialogTests.cs
Labels: Adaptive

#2313 [Expression] Merge Join function in method extensions to Expression
  libraries/Microsoft.Bot.Builder.Expressions/BuiltInFunctions.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/GetMethodExtensions.cs
  tests/Microsoft.Bot.Builder.Expressions.Tests/BadExpressionTests.cs
  tests/Microsoft.Bot.Builder.Expressions.Tests/ExpressionEngineTests.cs
Labels: Adaptive

#2317 LG refactoring
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Evaluator.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Expander.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGFileLexer.g4
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGFileParser.g4
  libraries/Microsoft.Bot.Builder.LanguageGeneration/StaticChecker.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/EscapeCharacter.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/EvalExpression.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/ExceptionExamples/ErrorEscapeCharacter.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Microsoft.Bot.Builder.LanguageGeneration.Tests.csproj
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplateEngineTest.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplateEngineThrowExceptionTest.cs
Labels: Adaptive

#2311 Adaptive: Cosmetic, style and organization minor fixes
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Steps/BaseInvokeDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Steps/EditArray.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration.Renderer/MultiLanguageGeneratorBase.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/AdaptiveDialogTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Composition.Tests/RecognizerTests.cs
Labels: Adaptive

#2347 StreamingExtensions: Change class visibility to public to remove conditional compilation
  libraries/Microsoft.Bot.Builder.StreamingExtensions/StreamingRequestHandler.cs
  libraries/Microsoft.Bot.Builder.StreamingExtensions/VersionInfo.cs
  libraries/Microsoft.Bot.StreamingExtensions/AssemblyInfo.cs
  libraries/Microsoft.Bot.StreamingExtensions/Microsoft.Bot.StreamingExtensions.csproj
  libraries/Microsoft.Bot.StreamingExtensions/PayloadTransport/IPayloadSender.cs
  libraries/Microsoft.Bot.StreamingExtensions/PayloadTransport/PayloadReceiver.cs
  libraries/Microsoft.Bot.StreamingExtensions/PayloadTransport/PayloadSender.cs
  libraries/Microsoft.Bot.StreamingExtensions/Payloads/Assemblers/IAssembler.cs
  libraries/Microsoft.Bot.StreamingExtensions/Payloads/Assemblers/PayloadStreamAssembler.cs
  libraries/Microsoft.Bot.StreamingExtensions/Payloads/ContentStream.cs
  libraries/Microsoft.Bot.StreamingExtensions/Payloads/Disassemblers/PayloadDisassembler.cs
  libraries/Microsoft.Bot.StreamingExtensions/Payloads/Disassemblers/RequestDisassembler.cs
  libraries/Microsoft.Bot.StreamingExtensions/Payloads/Disassemblers/ResponseDisassembler.cs
  libraries/Microsoft.Bot.StreamingExtensions/Payloads/Disassemblers/ResponseMessageStreamDisassembler.cs
  libraries/Microsoft.Bot.StreamingExtensions/Payloads/Disassemblers/StreamWrapper.cs
  libraries/Microsoft.Bot.StreamingExtensions/Payloads/HeaderSerializer.cs
  libraries/Microsoft.Bot.StreamingExtensions/Payloads/IStreamManager.cs
  libraries/Microsoft.Bot.StreamingExtensions/Payloads/Models/Header.cs
  libraries/Microsoft.Bot.StreamingExtensions/Payloads/Models/PayloadTypes.cs
  libraries/Microsoft.Bot.StreamingExtensions/Payloads/Models/StreamDescription.cs
  libraries/Microsoft.Bot.StreamingExtensions/Payloads/PayloadStream.cs
  libraries/Microsoft.Bot.StreamingExtensions/Payloads/RequestManager.cs
  libraries/Microsoft.Bot.StreamingExtensions/Payloads/SendOperations.cs
  libraries/Microsoft.Bot.StreamingExtensions/Payloads/StreamManager.cs
  libraries/Microsoft.Bot.StreamingExtensions/Transport/ITransportReceiver.cs
  libraries/Microsoft.Bot.StreamingExtensions/Transport/ITransportSender.cs
  libraries/Microsoft.Bot.StreamingExtensions/Transport/NamedPipe/NamedPipeTransport.cs
  libraries/Microsoft.Bot.StreamingExtensions/Transport/TransportConstants.cs
  tests/Microsoft.Bot.StreamingExtensions.Test/Microsoft.Bot.StreamingExtensions.Tests.csproj
  tests/Microsoft.Bot.StreamingExtensions.Test/StreamingExtensions/StreamingRequestHandlerTests.cs
Labels: Adaptive
