Repository microsoft/botbuilder-dotnet, pull requests merged in 2019-12, with the labels that each got.

#3044 Implement SetProperties and DeleteProperties
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/DeleteProperties.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/PropertyAssignment.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/SetProperties.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.DeleteProperties.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.SetProperties.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Testing/Microsoft.Test.AssertCondition.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Testing/Actions/AssertCondition.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/OnActivity.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/OnBeginDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/OnCancelDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/OnConversationUpdateActivity.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/OnCustomEvent.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/OnDialogEvent.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/OnEndOfConversationActivity.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/OnError.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/OnEventActivity.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/OnHandoffActivity.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/OnInvokeActivity.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/OnMessageActivity.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/OnMessageDeleteActivity.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/OnMessageReactionActivity.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/OnMessageUpdateActivity.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/OnRepromptDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/OnTypingActivity.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/OnUnknownIntent.cs
  schemas/sdk.schema
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/MessageGeneratorTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/ActionTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_DeleteProperties.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_DeleteProperty.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_SetProperties.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_SetProperty.test.dialog
Labels: R7, adaptive, needs-review

#3048 Refactor of QnAMaker dialog
  libraries/Microsoft.Bot.Builder.AI.QnA/Dialogs/QnAMakerDialog.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/Dialogs/QnAMakerDialogOptions.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/QnADialogResponseOptions.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/QnAMaker/QnAMakerActionBuilder.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/QnAMaker/QnAMakerComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/QnAMaker/QnAMakerDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/QnAMaker/QnAMakerDialog2.cs
  libraries/Microsoft.Bot.Builder.Dialogs/WaterfallDialog.cs
  tests/Microsoft.Bot.Builder.AI.QnA.Tests/QnAMakerTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Declarative.Tests/JsonLoadTests.cs
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/QnAMakerBot/QnAMakerBot.main.dialog
Labels: R7, adaptive, needs-review

#3064 update schema for strictFilters (and add missing top property)
  libraries/Microsoft.Bot.Builder.AI.QnA/Dialogs/QnAMakerDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/QnAMaker/QnAMakerDialog2.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.QnAMakerDialog.schema
  schemas/sdk.schema
  tests/Microsoft.Bot.Builder.TestBot.Json/app.schema
Labels: R7, adaptive, needs-review

#3018 add source location property to dialogs and triggers
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/OnCondition.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Debugging/SourcePoint.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Dialog.cs
Labels: adaptive, needs-review

#3066 Change AdaptiveDialog to options as the initial state
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/RepeatDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveDialog.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/AdaptiveDialogTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/AdaptiveTests/AdaptiveDialog_BindingOptionsAcrossAdaptiveDialogs/AdaptiveDialog_BindingOptionsAcrossAdaptiveDialogs.AgeDialog.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/AdaptiveTests/TestBindingTwoWayAcrossAdaptiveDialogs.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/AdaptiveTests/TestBindingTwoWayAcrossAdaptiveDialogsDefaultResultProperty.test.dialog
Labels: DCR, R7, adaptive, needs-review

#3068 clean up misc warnings..
  libraries/Microsoft.Bot.Builder.AI.LUIS/V3/LuisRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Memory/Scopes/BotStateMemoryScope.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Memory/Scopes/ConversationMemoryScope.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Memory/Scopes/MemoryScope.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Memory/Scopes/UserMemoryScope.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Testing/TestScript.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.ApplicationInsights.Core/ServiceCollectionExtensions.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/BotFrameworkHttpAdapter.cs
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Facebook.PrimaryTestBot/Startup.cs
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Facebook.SecondaryTestBot/Startup.cs
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Slack.TestBot/Startup.cs
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Webex.TestBot/Startup.cs
  tests/Microsoft.Bot.Builder.Skills.Tests/Skills.Tests/ChannelApiMiddlewareTests.cs
  tests/Microsoft.Bot.Builder.Tests/BotFrameworkAdapterOAuthTests.cs
  tests/integration/Microsoft.Bot.Builder.Integration.AspNet.Core.Tests/FauxSock.cs
Labels: R7, adaptive, needs-review

#3067 throw on expression error for set property value
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/SetProperties.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/SetProperty.cs
Labels: R7, adaptive, needs-review

#3075 SetPathValue needs to use ResolveMemoryScope() like GetPathValue does
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Memory/DialogStateManager.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/DialogStateManagerTests.cs
Labels: P0, R7, bug, needs-review

#3085 [QnA Maker] Support for IsTest and RankerType in QnAMaker.getAnswer()
  libraries/Microsoft.Bot.Builder.AI.QnA/Dialogs/QnAMakerDialog.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/Models/QnAMakerTraceInfo.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/Models/RankerTypes.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/QnAMakerOptions.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/Utils/GenerateAnswerUtils.cs
  tests/Microsoft.Bot.Builder.AI.QnA.Tests/QnAMakerTests.cs
  tests/Microsoft.Bot.Builder.AI.QnA.Tests/TestData/QnaMaker_IsTest_true.json
  tests/Microsoft.Bot.Builder.AI.QnA.Tests/TestData/QnaMaker_RankerType_QuestionOnly.json
Labels: R7, backlog

#3090 add resultProperty
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/BugRepo/AskForName.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/BugRepo/BugRepo.main.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/TestBot.cs
Labels: adaptive

#3092 add Conditional/True selector tests
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Selectors/ConditionalSelector.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Selectors/MostSpecificSelector.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Selectors/TrueSelector.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/SelectorTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/SelectorTests/SelectorTests_ConditionalSelector.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/SelectorTests/SelectorTests_TrueSelector.test.dialog
Labels: adaptive

#3069 support outputFormat as expression
  Changes.md
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/ConfirmInput.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/DateTimeInput.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/NumberInput.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/TextInput.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.ConfirmInput.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.DateTimeInput.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.NumberInput.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.TextInput.schema
  schemas/sdk.schema
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_ConfirmInput.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_DatetimeInput.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_NumberInput.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_TextInput.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Declarative.Tests/JsonLoadTests.cs
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/04 - TextInput/TextInput.main.dialog
Labels: adaptive

#3119 [QnA Maker] No Match prompt removed and markdown support.
  libraries/Microsoft.Bot.Builder.AI.QnA/Utils/GenerateAnswerUtils.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/Utils/QnACardBuilder.cs
Labels: R7

#3122 Structured LG refactoring
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Evaluator.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Expander.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGFileLexer.g4
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGFileParser.g4
  libraries/Microsoft.Bot.Builder.LanguageGeneration/StaticChecker.cs
Labels: R8, adaptive

#3073 emit Error event and handle with OnError
  UsingMyGet.md
  libraries/Microsoft.Bot.Builder.AI.QnA/Microsoft.Bot.Builder.Ai.QnA/Models/QnaMakerPrompt.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/DialogManager.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Testing/TestScript.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/OnError.cs
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Twilio.Tests/Files/Activities.json
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Twilio.Tests/Files/DictionaryMediaPayload.json
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Twilio.Tests/Files/MediaPayload.txt
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Twilio.Tests/Files/NoMediaPayload.txt
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests.csproj
  tests/Microsoft.Bot.Builder.Dialogs.Tests/DialogManagerTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/TestUtilities.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/Tests/DialogManagerTests/DialogManager_OnErrorEvent_Leaf.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Tests/Tests/DialogManagerTests/DialogManager_OnErrorEvent_Parent.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Tests/Tests/DialogManagerTests/DialogManager_OnErrorEvent_Root.test.dialog
Labels: R8, adaptive

#3070 Support AllowInterruptions, MaxTurnCount, InvalidPrompt in OAuthInput
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/OAuthInput.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.OAuthInput.schema
  schemas/sdk.schema
Labels: adaptive

#3078 change to start <= line <= end
  Changes.md
  libraries/Microsoft.Bot.Builder.Dialogs.Debugging/DebuggerSourceMap.cs
Labels: R8, adaptive

#3193 [Adaptive] Fix Number Input
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/NumberInput.cs
Labels: adaptive
