Repository microsoft/botbuilder-dotnet, pull requests merged in 2019-10, with the labels that each got.

#2635 [TEAMS] Adding notes for JS port
  tests/Teams/ActionBasedMessagingExtension-FetchTask/Bots/ActionBasedMessagingExtensionFetchTaskBot.cs
  tests/Teams/ActionBasedMessagingExtension/Bots/ActionBasedMessagingExtensionBot.cs
  tests/Teams/Activity Update & Delete/Bots/ActivityUpdateAndDeleteBot.cs
  tests/Teams/AdaptiveCards/Bots/AdaptiveCardsBot.cs
  tests/Teams/CardsBotFramework/Bots/CardsBot.cs
  tests/Teams/CardsOffice365/Bots/CardsBot.cs
  tests/Teams/ComposeMessagingExtensions/Bots/ComposeMessagingExtensionsBot.cs
  tests/Teams/ConversationUpdate/Bots/ConversationUpdateBot.cs
  tests/Teams/FileUpload/Bots/TeamsFileBot.cs
  tests/Teams/Helpers/Bots/HelperBot.cs
  tests/Teams/LinkUnfurling/Bots/LinkUnfurlingBot.cs
  tests/Teams/Mentions/Bots/MentionsBot.cs
  tests/Teams/MessageReaction/Bots/MessageReactionBot.cs
  tests/Teams/NotificationOnly/Bots/NotificationOnlyBot.cs
  tests/Teams/ProactiveMessages/Bots/ProactiveMessageBot.cs
  tests/Teams/ReplyToChannel/Bots/ReplyToChannel.cs
  tests/Teams/Roster/Bots/RosterBot.cs
  tests/Teams/SearchBasedMessagingExtension/Bots/SearchBasedMessagingExtensionBot.cs
  tests/Teams/TaskModule/Bots/TaskModuleBot.cs
Labels: 4.6, teams

#2637 [Teams] Messaging Extension Preview Send/Edit
  tests/Teams/ActionBasedMessagingExtension-FetchTask/AdaptiveCardHelper.cs
  tests/Teams/ActionBasedMessagingExtension-FetchTask/Bots/ActionBasedMessagingExtensionFetchTaskBot.cs
  tests/Teams/ActionBasedMessagingExtension-FetchTask/CardResponseExtentions.cs
  tests/Teams/ActionBasedMessagingExtension-FetchTask/SubmitExampleData.cs
  tests/Teams/ActionBasedMessagingExtension-FetchTask/TeamsAppManifest/manifest.json
Labels: 4.6, teams

#2580 Fix telemetry for custom adapters
  libraries/integration/Microsoft.Bot.Builder.Integration.ApplicationInsights.Core/ApplicationBuilderExtensions.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.ApplicationInsights.Core/TelemetryBotIdInitializer.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.ApplicationInsights.Core/TelemetryInitializerMiddleware.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.ApplicationInsights.Core/TelemetrySaveBodyASPMiddleware.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.ApplicationInsights.WebApi/TelemetryBotIdInitializer.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.ApplicationInsights.WebApi/TelemetryInitializerMiddleware.cs
  tests/integration/Microsoft.Bot.ApplicationInsights.Core.Tests/TelemetryInitializerTests.cs
  tests/integration/Microsoft.Bot.ApplicationInsights.WebApi.Tests/TelemetryInitializerTests.cs
Labels: 4.6

#2614 Sync read of request body throws on .netcore 3.0
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/BotFrameworkHttpAdapter.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/BotMessageHandlerBase.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/HttpHelper.cs
Labels: enhancement

#2661 updating this to TeamsInfo
  tests/Teams/Helpers/Bots/HelperBot.cs
Labels: 4.6, teams

#2459 Add support for structured LG template
  libraries/Microsoft.Bot.Builder.LanguageGeneration.Templates/Generators/ActivityGenerator.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration.Templates/Generators/TemplateEngineLanguageGenerator.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration.Templates/Generators/TextActivityGenerator.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration.Templates/LGAdapterExtensions.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/CustomizedMemoryScope.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Evaluator.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGFileLexer.g4
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGFileParser.g4
  libraries/Microsoft.Bot.Builder.LanguageGeneration/StaticChecker.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/TemplateEngine.cs
  tests/Microsoft.Bot.Builder.Dialogs.Declarative.Tests/JsonLoadTests.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Templates.Tests/MessageGeneratorTests.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Templates.Tests/TextMessageGeneratorTests.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Templates.Tests/lg/AdaptiveCardActivity.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Templates.Tests/lg/NonAdaptiveCardActivity.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Templates.Tests/lg/multiCards.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/StructuredTemplate.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/ExceptionExamples/ErrorStructuredTemplate.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Microsoft.Bot.Builder.LanguageGeneration.Tests.csproj
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplateEngineTest.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplateEngineThrowExceptionTest.cs
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/08 - ExternalLanguage/ExternalLanguage.main.lg
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/ToDoBot/todo.lg
  tests/Microsoft.Bot.Builder.TestBot.Json/TestBotLG.cs
Labels: adaptive

#2668 add unit tests and remove dead code
  libraries/Microsoft.Bot.Builder/Teams/TeamsTurnContextExtensions.cs
  tests/Microsoft.Bot.Builder.Tests/Teams/TeamsTurnContextExtensionsTests.cs
  tests/Teams/Scenarios.sln
Labels: 4.6, teams

#2642 fix for user state being null
  libraries/Microsoft.Bot.Builder.Dialogs/PersistedState.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/AdaptiveDialogTests.cs
Labels: adaptive

#2585 Updates to adaptive component schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.BeginDialog.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.CancelAllDialogs.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.DebugBreak.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.DeleteProperty.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.EditActions.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.EditArray.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.EmitEvent.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.EndDialog.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.EndTurn.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.Foreach.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.ForeachPage.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.HttpRequest.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.IfCondition.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.InitProperty.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.LogAction.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.RepeatDialog.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.ReplaceDialog.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.SendActivity.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.SetProperty.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.SwitchCondition.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.TraceActivity.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.AttachmentInput.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.ChoiceInput.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.ConfirmInput.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.DateTimeInput.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.InputDialog.json
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.NumberInput.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.OAuthInput.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.TextInput.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Microsoft.AdaptiveDialog.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Recognizers/Microsoft.MultiLanguageRecognizer.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Recognizers/Microsoft.RegexRecognizer.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/TriggerConditions/Microsoft.OnActivity.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/TriggerConditions/Microsoft.OnBeginDialog.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/TriggerConditions/Microsoft.OnCancelDialog.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/TriggerConditions/Microsoft.OnCondition.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/TriggerConditions/Microsoft.OnConversationUpdateActivity.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/TriggerConditions/Microsoft.OnCustomEvent.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/TriggerConditions/Microsoft.OnDialogEvent.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/TriggerConditions/Microsoft.OnEndOfConversationActivity.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/TriggerConditions/Microsoft.OnError.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/TriggerConditions/Microsoft.OnEventActivity.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/TriggerConditions/Microsoft.OnHandoffActivity.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/TriggerConditions/Microsoft.OnIntent.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/TriggerConditions/Microsoft.OnInvokeActivity.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/TriggerConditions/Microsoft.OnMessageActivity.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/TriggerConditions/Microsoft.OnMessageDeleteActivity.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/TriggerConditions/Microsoft.OnMessageReactionActivity.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/TriggerConditions/Microsoft.OnMessageUpdateActivity.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/TriggerConditions/Microsoft.OnRepromptDialog.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/TriggerConditions/Microsoft.OnTypingActivity.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/TriggerConditions/Microsoft.OnUnknownIntent.schema
  schemas/sdk.schema
Labels: adaptive

#2675 Bring back lgTemplate function
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Evaluator.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/6.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplateEngineTest.cs
Labels: adaptive

#2610 Changed InputDialog.AllowInterruptions to be an expression
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveEvents.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/AllowInterruptions.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/InputDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/TextInput.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.InputDialog.json
  schemas/sdk.schema
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/AdaptiveDialogTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/MiscTests.cs
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/04 - TextInput/TextInput.main.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/app.schema
Labels: adaptive

#2693 Update schema to reflect supported http methods
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.HttpRequest.schema
  schemas/sdk.schema
Labels: adaptive

#2687 Update Microsoft.OAuthInput.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.OAuthInput.schema
  schemas/sdk.schema
Labels: adaptive

#1922 Add AssertReplyContain
  libraries/Microsoft.Bot.Builder/Adapters/TestFlow.cs
  tests/Microsoft.Bot.Builder.Tests/Adapters/TestFlowTests.cs
Labels: parity with JS, parity with python

#2694 Add more structured-lg test
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/MessageGeneratorTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/NonAdaptiveCardActivity.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/NormalStructuredLG.lg
Labels: LG, adaptive

#2721 Fix structured-lg don't work when the last line contains space
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Evaluator.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGFileLexer.g4
  libraries/Microsoft.Bot.Builder.LanguageGeneration/StaticChecker.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/StructuredTemplate.lg
Labels: LG

#2722 Fix Structure LG+ ActivityGenerator should work without Adaptive issue
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/ActivityGenerator.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/MessageGeneratorTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/microsoft.bot.builder.dialogs.adaptive.templates.tests.csproj
Labels: LG

#2724 Fix some small bugs in structured-lg and add more tests
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/ActivityGenerator.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/MessageGeneratorTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/NormalStructuredLG.lg
Labels: LG

#2696 Any template reference is evaluated once during evaluation of a structured template
  libraries/Microsoft.Bot.Builder.LanguageGeneration/CustomizedMemoryScope.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/EvaluationTarget.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Evaluator.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/EvaluateOnce.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Microsoft.Bot.Builder.LanguageGeneration.Tests.csproj
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplateEngineTest.cs
Labels: LG

#2733 Updated inspection middleware to pass through trace activities
  libraries/Microsoft.Bot.Builder/Inspection/InspectionActivityExtensions.cs
  libraries/Microsoft.Bot.Builder/Inspection/InspectionMiddleware.cs
  libraries/Microsoft.Bot.Builder/Inspection/InterceptionMiddleware.cs
  tests/Microsoft.Bot.Builder.Tests/InspectionTests.cs
Labels: adaptive

#2711 Add orderBy/orderByDescending builtin function
  libraries/Microsoft.Bot.Expressions/BuiltInFunctions.cs
  libraries/Microsoft.Bot.Expressions/ExpressionType.cs
  tests/Microsoft.Bot.Expressions.Tests/BadExpressionTests.cs
  tests/Microsoft.Bot.Expressions.Tests/ExpressionEngineTests.cs
Labels: LG

#2717 Support whitespaces in the middle of "ELSE IF" condition key word
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGFileLexer.g4
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/ConditionExpression.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Microsoft.Bot.Builder.LanguageGeneration.Tests.csproj
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplateEngineTest.cs
Labels: LG

#2740 [Teams] Hackathon feedback
  libraries/Microsoft.Bot.Builder/BotFrameworkAdapter.cs
  libraries/Microsoft.Bot.Builder/Teams/TeamsActivityHandler.cs
  tests/Microsoft.Bot.Builder.Tests/Teams/TeamsActivityHandlerBadRequestTests.cs
  tests/Microsoft.Bot.Builder.Tests/Teams/TeamsActivityHandlerNotImplementedTests.cs
  tests/Microsoft.Bot.Builder.Tests/Teams/TeamsActivityHandlerTests.cs
  tests/Teams/ActionBasedMessagingExtensionFetchTask/Bots/ActionBasedMessagingExtensionFetchTaskBot.cs
  tests/Teams/AdaptiveCards/Bots/AdaptiveCardsBot.cs
  tests/Teams/MessagingExtensionAuth/Bots/MessagingExtensionAuthBot.cs
  tests/Teams/Roster/AdapterWithErrorHandler.cs
  tests/Teams/Roster/TeamsTenantFilteringMiddleware.cs
  tests/Teams/Roster/appsettings.json
  tests/Teams/TaskModule/Bots/TaskModuleBot.cs
Labels: 4.6, teams

#2747 Revert "[Teams] Rename some Teams classes and fields"
  libraries/Microsoft.Bot.Schema/Teams/Generated/MessagingExtensionResponse.cs
  libraries/Microsoft.Bot.Schema/Teams/Generated/MessagingExtensionResult.cs
  libraries/Microsoft.Bot.Schema/Teams/Generated/MessagingExtensionSuggestedAction.cs
  tests/Teams/MessagingExtensionAuth/Bots/MessagingExtensionAuthBot.cs
  tests/Teams/MessagingExtensionConfig/Bots/MessagingExtensionConfigBot.cs
  tests/Teams/SearchBasedMessagingExtension/Bots/SearchBasedMessagingExtensionBot.cs
Labels: teams

#2745 Updated AdaptiveDialog to execute steps without using recursion
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveDialog.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/AdaptiveDialogTests.cs
Labels: adaptive

#2750 fix stylecop issue and add message to exception
  libraries/Microsoft.Bot.Builder/Teams/TeamsActivityHandler.cs
Labels: 4.6, teams

#2744 Added a flag to control the bubbling of cancellation events
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/CancelAllDialogs.cs
  libraries/Microsoft.Bot.Builder.Dialogs/DialogContext.cs
Labels: adaptive

#2767 [Adaptive] Schema - Set AllowInterruptions property to be an expression instead of string
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.InputDialog.json
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.TextInput.schema
  schemas/sdk.schema
Labels: adaptive

#2051 Add SlackAdapter migration
  CodeCoverage.runsettings
  Microsoft.Bot.Builder.sln
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Slack/ActivityResourceResponse.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Slack/Microsoft.Bot.Builder.Adapters.Slack.csproj
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Slack/NewSlackMessage.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Slack/README.md
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Slack/SlackAction.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Slack/SlackAdapter.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Slack/SlackAdapterOptions.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Slack/SlackClientWrapper.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Slack/SlackEvent.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Slack/SlackHelper.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Slack/SlackMessage.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Slack/SlackPayload.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Slack/SlackRequestBody.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Slack/SlackResponse.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Slack/icon.png
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Slack.TestBot/Bots/EchoBot.cs
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Slack.TestBot/Controllers/BotController.cs
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Slack.TestBot/DeploymentTemplates/template-with-new-rg.json
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Slack.TestBot/DeploymentTemplates/template-with-preexisting-rg.json
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Slack.TestBot/Microsoft.Bot.Builder.Adapters.Slack.TestBot.csproj
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Slack.TestBot/Program.cs
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Slack.TestBot/README.md
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Slack.TestBot/Resources/InteractiveMessage.json
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Slack.TestBot/Startup.cs
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Slack.TestBot/appsettings.Development.json
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Slack.TestBot/appsettings.json
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Slack.TestBot/wwwroot/default.htm
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Slack.Tests/Files/InteractiveMessageBody.txt
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Slack.Tests/Files/MessageBody.json
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Slack.Tests/Files/SlackActivity.json
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Slack.Tests/Files/SlashCommandBody.txt
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Slack.Tests/Files/URLVerificationBody.json
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Slack.Tests/Files/UnknownEvent.json
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Slack.Tests/Microsoft.Bot.Builder.Adapters.Slack.Tests.csproj
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Slack.Tests/SlackAdapterTests.cs
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Slack.Tests/SlackClientWrapperTests.cs
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Slack.Tests/SlackHelperTests.cs
Labels: 4.6

#2808 Add square brackets support in structured lg
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGFileLexer.g4
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGFileParser.g4
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/StructuredTemplate.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplateEngineTest.cs
Labels: LG

#2806 Make card/activity type insensitive in structured lg
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/ActivityGenerator.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/MessageGeneratorTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/NormalStructuredLG.lg
Labels: LG

#2807 Automatically adapt the type of button in structured lg
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/ActivityGenerator.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/NormalStructuredLG.lg
Labels: LG

#2799 [Streaming] Add bot token to api/version endpoint response for parity with JS
  libraries/Microsoft.Bot.Builder/BotFrameworkAdapter.cs
  libraries/Microsoft.Bot.Builder/Streaming/BotFrameworkHttpAdapterBase.cs
  libraries/Microsoft.Bot.Builder/Streaming/StreamingRequestHandler.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/BotFrameworkHttpAdapter.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.WebApi/BotFrameworkHttpAdapter.cs
  tests/Microsoft.Bot.Streaming.Tests/StreamingRequestHandlerTests.cs
  tests/Microsoft.Bot.Streaming.Tests/WebSocketTransportTests.cs
Labels: Streaming Extensions

#2800 Add multi language support in LG import
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/LanguageGeneratorManager.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/TemplateEngineLanguageGenerator.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/LGAdapterExtensions.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/LGGeneratorTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/MessageGeneratorTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/test.en.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/test.fr.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/test.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/test.zh-cn.lg
Labels: LG, WIP

#2844 Adds support for OAuthCards for skills
  libraries/Microsoft.Bot.Builder.Dialogs/Prompts/OAuthPrompt.cs
  libraries/Microsoft.Bot.Builder.Skills/Adapters/BotFrameworkSkillHostAdapter.cs
  libraries/Microsoft.Bot.Builder.Skills/SkillHostAdapter.cs
  libraries/Microsoft.Bot.Builder/BotFrameworkAdapter.cs
  tests/Microsoft.Bot.Builder.Tests/BotFrameworkAdapterTests.cs
Labels: 4.6, Skills

#2835 [Streaming] Add wav file for DirectLine Speech functional test.
  FunctionalTests/Microsoft.Bot.Builder.FunctionalTests/Assets/TellMeAJoke.wav
  FunctionalTests/Microsoft.Bot.Builder.FunctionalTests/DirectLineSpeechTests.cs
  FunctionalTests/Microsoft.Bot.Builder.FunctionalTests/Microsoft.Bot.Builder.FunctionalTests.csproj
  tests/Microsoft.Bot.Builder.TestBot/Controllers/BotController.cs
  tests/Microsoft.Bot.Builder.TestBot/Startup.cs
Labels: Streaming Extensions

#2883 Removing samples folder (bad merge from 4.Future)
  samples/.vscode/launch.json
  samples/LG/1.LG
  samples/LG/2.LG
  samples/LG/3.LG
  samples/LG/4.LG
  samples/LG/5.LG
  samples/LG/6.LG
  samples/LG/7.LG
  samples/LG/8.LG
  samples/Microsoft.Bot.Builder.TestBot.Json/Samples/01 - Steps/Actions.main.dialog
  samples/Microsoft.Bot.Builder.TestBot.Json/Samples/06 - DoSteps/DoActions.main.dialog
  samples/Microsoft.Bot.Builder.TestBot.Json/Samples/16 - EditSteps/EditActions.main.dialog
  samples/declarative-hack-April-11-README.md
Labels: adaptive
