Repository microsoft/botbuilder-dotnet, pull requests merged in 2019-08, with the labels that each got.

#2353 OAuth input
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/OAuthInput.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.OAuthInput.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Loaders/OauthPromptLoader.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Types/Factory.cs
Labels: Adaptive

#2339 Update schema for "AllowInterruptions"
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.TextInput.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/baseInputSchema.json
  schemas/sdk.schema
Labels: Adaptive

#2279 Fix the issue that dialogStack not be cleaned up when there is an exception.
  libraries/Microsoft.Bot.Builder.Dialogs/DialogManager.cs
Labels: adaptive

#2342 [Adaptive] HttpRequest Step, More Methods, Fix Issues
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Steps/HttpRequest.cs
Labels: adaptive

#2365 Changes to BeginDialog, ReplaceDialog, and RepeatDialog steps
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Steps/Microsoft.BeginDialog.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Steps/Microsoft.DeleteProperty.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Steps/Microsoft.EditArray.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Steps/Microsoft.EndDialog.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Steps/Microsoft.Foreach.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Steps/Microsoft.ForeachPage.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Steps/Microsoft.HttpRequest.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Steps/Microsoft.InitProperty.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Steps/Microsoft.ReplaceDialog.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Steps/Microsoft.SetProperty.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Steps/Microsoft.TraceActivity.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Steps/BaseInvokeDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Steps/BeginDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Steps/ReplaceDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Dialog.cs
  schemas/baseComponent.schema
  schemas/component.schema
  schemas/sdk.schema
  tests/Microsoft.Bot.Builder.AI.QnA.Tests/QnAMakerTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/AdaptiveDialogTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/DialogContextStateTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/StepsTests.cs
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/BugRepo/BugRepo.main.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/app.schema
Labels: 4.6, adaptive, composer

#2369 change regexrecognizer to return multiple entities
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/RegexRecognizer.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/DialogContextStateTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/RegexRecognizerTests.cs
Labels: DCR, P0, adaptive, composer

#2298 [Expression] Add JPath prebuilt function in Expression
  libraries/Microsoft.Bot.Builder.Expressions/BuiltInFunctions.cs
  libraries/Microsoft.Bot.Builder.Expressions/ExpressionType.cs
  tests/Microsoft.Bot.Builder.Expressions.Tests/BadExpressionTests.cs
  tests/Microsoft.Bot.Builder.Expressions.Tests/ExpressionEngineTests.cs
Labels: adaptive

#2375 fix OnIntent Entities constraint
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Events/OnIntent.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/RegexRecognizer.cs
  libraries/Microsoft.Bot.Builder.Expressions/BuiltInFunctions.cs
  libraries/Microsoft.Bot.Builder.Expressions/ExpressionType.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/AdaptiveDialogTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/EventTests.cs
  tests/Microsoft.Bot.Builder.Expressions.Tests/ExpressionEngineTests.cs
Labels: adaptive

#2436 Add DefaultValueResponse property to InputDialog
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/InputDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/baseInputSchema.json
  schemas/sdk.schema
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/AdaptiveDialogTests.cs
  tests/Microsoft.Bot.Builder.TestBot.Json/app.schema
Labels: 4.6, adaptive

#2439 Change HttpRequest to return an object with http response metadata
  installbf.cmd
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/HttpRequest.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.HttpRequest.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/DeclarativeTypeLoader.cs
  libraries/Microsoft.Bot.Builder.Expressions.Parser/ErrorListener.cs
  libraries/Microsoft.Bot.Builder.Expressions/BuiltInFunctions.cs
  schemas/sdk.schema
  schemas/update.cmd
  tests/Microsoft.Bot.Builder.Expressions.Tests/BadExpressionTests.cs
  tests/Microsoft.Bot.Builder.TestBot.Json/CustomSteps/JavascriptAction.cs
  tests/Microsoft.Bot.Builder.TestBot.Json/CustomSteps/Testbot.JavascriptAction.schema
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/11 - HttpRequest/HttpRequest.main.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/12 - GithubIssueBot/show.lg
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/13 - CustomStep/JavascriptAction.main.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/CalendarBot/Dialog/FindContact/CalendarFindContact.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/CalendarBot/Dialog/FindContact/CalendarFindSingleContact.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/CalendarBot/Service/MSGraph/AcceptMeetingService.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/CalendarBot/Service/MSGraph/CreateMeetingService.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/CalendarBot/Service/MSGraph/DeclineMeetingService.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/CalendarBot/Service/MSGraph/GetContactService.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/CalendarBot/Service/MSGraph/GetMeetingsService.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/CalendarBot/Service/MSGraph/UpdateMeetingService.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/EmailBot/Service/MSGraph/ForwardEmails.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/EmailBot/Service/MSGraph/GetContact.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/EmailBot/Service/MSGraph/GetEmails.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/EmailBot/Service/MSGraph/ReplyEmails.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/EmailBot/Service/MSGraph/SendEmails.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/ToDoLuisBot/ToDoLuisBot.AddItem.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/ToDoLuisBot/ToDoLuisBot.DeleteItem.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/TestBot.cs
  tests/Microsoft.Bot.Builder.TestBot.Json/app.schema
  tests/Microsoft.Bot.Builder.TestBot.Json/updateschema.cmd
Labels: 4.6, DCR, adaptive

#2441 remove ^ and ~ shortcuts
  libraries/Microsoft.Bot.Builder.Expressions.Parser/Expression.g4
  libraries/Microsoft.Bot.Builder.Expressions.Parser/ExpressionEngine.cs
  tests/Microsoft.Bot.Builder.Expressions.Tests/ExpressionEngineTests.cs
Labels: 4.6, adaptive

#2164 Fix Live Connector Tests
  tests/Microsoft.Bot.Connector.Tests/BaseTest.cs
  tests/Microsoft.Bot.Connector.Tests/ConversationsTest.cs
  tests/Microsoft.Bot.Connector.Tests/Microsoft.Bot.Connector.Tests.csproj
  tests/Microsoft.Bot.Connector.Tests/OAuthConnectorTests.cs
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.AttachmentsTests/GetAttachmentInfoWithInvalidIdFails.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.AttachmentsTests/GetAttachmentView.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.AttachmentsTests/GetAttachmentViewWithInvalidAttachmentIdFails.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.AttachmentsTests/GetAttachmentViewWithInvalidViewIdFails.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.AttachmentsTests/GetAttachmentViewWithNullViewIdFails.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.AttachmentsTests/UploadAttachmentAndGetAttachment.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.AttachmentsTests/UploadAttachmentAndGetAttachmentWithCustomHeader.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.AttachmentsTests/UploadAttachmentWithoutOriginalFails.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/CreateConversation.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/CreateConversationWithBotMember.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/CreateConversationWithCustomHeader.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/CreateConversationWithInvalidBot.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/CreateConversationWithoutMembers.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/DeleteActivity.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/DeleteActivityWithCustomHeaders.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/DeleteActivityWithInvalidConversationId.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/DeleteActivityWithNullActivityId.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/DeleteActivityWithNullConversationId.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/GetActivityMembers.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/GetActivityMembersWithCustomHeaders.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/GetActivityMembersWithInvalidConversationId.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/GetActivityMembersWithNullActivityId.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/GetActivityMembersWithNullConversationId.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/GetConversationMembers.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/GetConversationMembersWithCustomHeader.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/GetConversationMembersWithInvalidConversationId.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/GetConversationPagedMembers.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/GetConversationPagedMembersWithCustomHeaders.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/GetConversationPagedMembersWithInvalidConversationId.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/GetConversationPagedMembersWithPageSize.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/ReplyToActivity.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/ReplyToActivityWithCustomHeaders.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/ReplyToActivityWithInvalidConversationId.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/ReplyToActivityWithNullActivityId.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/ReplyToActivityWithNullConversationId.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/ReplyToActivityWithNullReply.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/SendCardToConversation.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/SendToConversation.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/SendToConversationWithCustomHeaders.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/SendToConversationWithInvalidBotId.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/SendToConversationWithInvalidConversationId.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/SendToConversationWithNullActivity.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/UpdateActivity.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/UpdateActivityWithCustomHeaders.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/UpdateActivityWithInvalidConversationId.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/UpdateActivityWithNullActivity.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/UpdateActivityWithNullActivityId.json
  tests/Microsoft.Bot.Connector.Tests/SessionRecords/Microsoft.Bot.Connector.Tests.ConversationsTest/UpdateActivityWithNullConversationId.json
Labels: 4.6
