Repository microsoft/botbuilder-dotnet, pull requests merged in 2020-12, with the labels that each got.

#5004 Remove offset in default format in ConvertFromUtc pre-built function
  libraries/AdaptiveExpressions/BuiltinFunctions/ConvertFromUtc.cs
  tests/AdaptiveExpressions.Tests/ExpressionParserTests.cs
Labels: Area: Adaptive expression

#4962 Update Orchestrator Native deps to 4.12 daily builds
  libraries/Microsoft.Bot.Builder.AI.Orchestrator/Microsoft.Bot.Builder.AI.Orchestrator.csproj
Labels: Area: AI-Orchestrator

#5031 add resource tags to FB adapter CI
  build/yaml/botbuilder-dotnet-ci-facebook-test.yml
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Facebook.PrimaryTestBot/DeploymentTemplates/template-with-new-rg.json
Labels: Area: Engineering

#5028 feat: parity issues for js, python, and java
  .github/workflows/create-botbuilder-js-parity-issue.yml
Labels: Automation: No parity, Automation: Parity with js
