Repository microsoft/botbuilder-dotnet, pull requests merged in 2020-01, with the labels that each got.

#3181 Implement DCR [Adaptive] - Add disabled expression to all Actions
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/BeginDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/BreakLoop.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/CancelAllDialogs.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/CodeAction.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/ContinueLoop.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/DebugBreak.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/DeleteProperties.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/DeleteProperty.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/EditActions.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/EditArray.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/EmitEvent.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/EndDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/EndTurn.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/ForEach.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/ForEachPage.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/GotoAction.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/HttpRequest.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/IfCondition.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/InitProperty.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/LogAction.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/RepeatDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/ReplaceDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/SendActivity.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/SetProperties.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/SetProperty.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/SwitchCondition.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/TraceActivity.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/InputDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/OAuthInput.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.BeginDialog.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.BreakLoop.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.CancelAllDialogs.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.ContinueLoop.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.DebugBreak.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.DeleteProperties.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.DeleteProperty.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.EditActions.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.EditArray.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.EmitEvent.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.EndDialog.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.EndTurn.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.Foreach.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.ForeachPage.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.GotoAction.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.HttpRequest.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.IfCondition.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.InitProperty.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.LogAction.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.RepeatDialog.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.ReplaceDialog.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.SendActivity.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.SetProperties.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.SetProperty.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.SwitchCondition.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.TraceActivity.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.InputDialog.json
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.OAuthInput.schema
  schemas/sdk.schema
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/ActionTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_SendActivity.test.dialog
Labels: DCR, R8, adaptive, needs-review

#3182 change EmitEvent to model that the default for bubble is false.
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/EmitEvent.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.EmitEvent.schema
  schemas/sdk.schema
Labels: R8, adaptive, bug, needs-review

#3184 DCR: add missing actions from adapter
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/DeleteActivity.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/GetActivityMembers.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/GetConversationMembers.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/SignOutUser.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/UpdateActivity.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.DeleteActivity.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.GetActivityMembers.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.GetConversationMembers.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.SignOutUser.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.UpdateActivity.schema
  schemas/sdk.schema
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/ActionTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_DeleteActivity.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_GetActivityMembers.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_GetConversationMembers.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_SignOutUser.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_UpdateActivity.test.dialog
Labels: DCR, R8, adaptive, needs-review

#3183 Fix for issue #2913 - Log and trace activity don't let you set the Label property
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/LogAction.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/TraceActivity.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.LogAction.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.TraceActivity.schema
  schemas/sdk.schema
Labels: R8, adaptive, bug, needs-review

#3196 RegExRecognizer refactor and fix for Capture groups
  .gitignore
  Directory.Build.props
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/Microsoft.Bot.Builder.Adapters.Facebook.csproj
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Slack/Microsoft.Bot.Builder.Adapters.Slack.csproj
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Twilio/Microsoft.Bot.Builder.Adapters.Twilio.csproj
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Webex/Microsoft.Bot.Builder.Adapters.Webex.csproj
  libraries/Microsoft.Bot.Builder.AI.LUIS/Microsoft.Bot.Builder.AI.Luis.csproj
  libraries/Microsoft.Bot.Builder.AI.QnA/Microsoft.Bot.Builder.AI.QnA.csproj
  libraries/Microsoft.Bot.Builder.ApplicationInsights/Microsoft.Bot.Builder.ApplicationInsights.csproj
  libraries/Microsoft.Bot.Builder.Azure/Microsoft.Bot.Builder.Azure.csproj
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Microsoft.Bot.Builder.Dialogs.Adaptive.csproj
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/EntityRecognizers/AgeEntityRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/EntityRecognizers/ConfirmationEntityRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/EntityRecognizers/CurrencyEntityRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/EntityRecognizers/DateTimeEntityRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/EntityRecognizers/DimensionEntityRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/EntityRecognizers/EmailEntityRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/EntityRecognizers/EntityRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/EntityRecognizers/EntityRecognizerSet.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/EntityRecognizers/GuidEntityRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/EntityRecognizers/HashtagEntityRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/EntityRecognizers/IpEntityRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/EntityRecognizers/MentionEntityRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/EntityRecognizers/NumberEntityRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/EntityRecognizers/NumberRangeEntityRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/EntityRecognizers/OrdinalEntityRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/EntityRecognizers/PercentageEntityRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/EntityRecognizers/PhoneNumberEntityRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/EntityRecognizers/RegExEntityRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/EntityRecognizers/TemperatureEntityRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/EntityRecognizers/TextEntityRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/EntityRecognizers/UrlEntityRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/RegexRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Debugging/Microsoft.Bot.Builder.Dialogs.Debugging.csproj
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Microsoft.Bot.Builder.Dialogs.Declarative.csproj
  libraries/Microsoft.Bot.Builder.Dialogs/Microsoft.Bot.Builder.Dialogs.csproj
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Microsoft.Bot.Builder.LanguageGeneration.csproj
  libraries/Microsoft.Bot.Builder.TemplateManager/Microsoft.Bot.Builder.TemplateManager.csproj
  libraries/Microsoft.Bot.Builder.Testing/Microsoft.Bot.Builder.Testing.csproj
  libraries/Microsoft.Bot.Builder/Microsoft.Bot.Builder.csproj
  libraries/Microsoft.Bot.Configuration/Microsoft.Bot.Configuration.csproj
  libraries/Microsoft.Bot.Connector/Microsoft.Bot.Connector.csproj
  libraries/Microsoft.Bot.Expressions/Microsoft.Bot.Expressions.csproj
  libraries/Microsoft.Bot.Schema/Microsoft.Bot.Schema.csproj
  libraries/Microsoft.Bot.Streaming/Microsoft.Bot.Streaming.csproj
  libraries/integration/Microsoft.Bot.Builder.Integration.ApplicationInsights.Core/Microsoft.Bot.Builder.Integration.ApplicationInsights.Core.csproj
  libraries/integration/Microsoft.Bot.Builder.Integration.ApplicationInsights.WebApi/Microsoft.Bot.Builder.Integration.ApplicationInsights.WebApi.csproj
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/Microsoft.Bot.Builder.Integration.AspNet.Core.csproj
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.WebApi/Microsoft.Bot.Builder.Integration.AspNet.WebApi.csproj
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/EntityRecognizerTests.cs
Labels: R8, adaptive, bug

#3138 Refactor LG API
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Extensions.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/TemplateEngineLanguageGenerator.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Diagnostic.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/ErrorListener.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Evaluator.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Expander.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Extensions.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/ImportResolver.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGFile.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGImport.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGParser.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGResource.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGTemplate.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/StaticChecker.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/TemplateEngine.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/MessageGeneratorTests.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/MultiFile-Part1.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/MultiFile-Part2.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/MultiFile-Part3.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/ExceptionExamples/ConditionFormatError.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/ExceptionExamples/DuplicatedTemplates.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/ExceptionExamples/DuplicatedTemplatesInImportFiles.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/ExceptionExamples/ErrorSeperateChar.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/ExceptionExamples/ErrorSeperateChar2.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/ExceptionExamples/ErrorTemplateName.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/ExceptionExamples/ErrorTemplateParameters.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/ExceptionExamples/InvalidTemplateName.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/ExceptionExamples/InvalidTemplateName2.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/ExceptionExamples/LgTemplateFunctionError.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/ExceptionExamples/NoMatchRule.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/ExceptionExamples/NoVariableMatch.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/ExceptionExamples/OnlyNoMatchRule.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/ExceptionExamples/SwitchCaseFormatError.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/ExceptionExamples/SwitchCaseWarning.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/ExceptionExamples/TemplateParamsNotMatchArgsNum.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/LGFileDiagnosticTest.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/LGFileTest.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Microsoft.Bot.Builder.LanguageGeneration.Tests.csproj
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplateEngineThrowExceptionTest.cs
  tests/Microsoft.Bot.Builder.TestBot.Json/TestBotLG.cs
Labels: LG, adaptive

#3237 Make Ask.ExpectedProperties support expressions
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/Ask.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.Ask.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/ExpressionProperty.cs
  schemas/sdk.schema
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/GeneratorTests/sandwich/sandwich-BreadAsk.dialog
Labels: adaptive

#3241 Make multiple languages limited to the language of the entry lg file
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/LanguageGeneratorManager.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/TemplateEngineLanguageGenerator.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/LGResourceLoader.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/ActivityCheckerTest.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/LGGeneratorTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/a.en-US.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/a.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/b.en-us.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/b.en.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/b.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/c.lg
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/common.lg
Labels: WIP

#3272 Make Unit Tests run 3-10x faster.
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/LGAdapterExtensions.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Testing/TestActions/AssertReplyActivity.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Testing/TestActions/UserActivity.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Testing/TestActions/UserConversationUpdate.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Testing/TestActions/UserDelay.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Testing/TestActions/UserSays.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Testing/TestActions/UserTyping.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Testing/TestScript.cs
  libraries/Microsoft.Bot.Builder/Adapters/TestAdapter.cs
  libraries/Microsoft.Bot.Builder/Adapters/TestFlow.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/TestUtils.cs
Labels: R8, adaptive

#3186 Forced re-execution expression within template
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Evaluator.cs
  libraries/Microsoft.Bot.Expressions/parser/Expression.g4
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/ReExecute.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/LGFileTest.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Microsoft.Bot.Builder.LanguageGeneration.Tests.csproj
Labels: adaptive

#3234 Make sure ResourceExplorer has no System.IO dependencies
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Resources/FolderResourceProviderExtensions.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Resources/ResourceExplorer.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/ActivityCheckerTest.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/LGGeneratorTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/MessageGeneratorTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Declarative.Tests/JsonLoadTests.cs
Labels: R8, adaptive

#3277 rewrite javascript action
  tests/Microsoft.Bot.Builder.TestBot.Json/CustomSteps/JavascriptAction.cs
  tests/Microsoft.Bot.Builder.TestBot.Json/CustomSteps/Testbot.JavascriptAction.schema
  tests/Microsoft.Bot.Builder.TestBot.Json/Microsoft.Bot.Builder.TestBot.Json.csproj
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/13 - CustomStep/JavascriptAction.main.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/13 - CustomStep/dogyears.js
  tests/Microsoft.Bot.Builder.TestBot.Json/TestBot.cs
Labels: R8, adaptive

#3260 [Adaptive] Add simple/flexible multiple language generator for non-adaptive
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/SimpleMultiLangGenerator.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests.csproj
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/SimpleMultiLangGeneratorTests.cs
Labels: WIP

#3240 support constant [] and {} expression
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/InitProperty.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.InitProperty.schema
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Analyzer.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Evaluator.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Expander.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Extensions.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGFileLexer.g4
  libraries/Microsoft.Bot.Builder.LanguageGeneration/StaticChecker.cs
  libraries/Microsoft.Bot.Expressions/BuiltInFunctions.cs
  libraries/Microsoft.Bot.Expressions/parser/Expression.g4
  libraries/Microsoft.Bot.Expressions/parser/ExpressionEngine.cs
  schemas/sdk.schema
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionScopeTests/ActionScope_Break.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionScopeTests/ActionScope_Continue.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_Foreach.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_ForeachPage.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_ForeachPage_Empty.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_ForeachPage_Partial.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/AdaptiveTests/AdaptiveDialog_EditArray.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/AdaptiveTests/TestForeachWithPrompt.test.dialog
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/EmptyArrayAndObject.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/LGFileTest.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Microsoft.Bot.Builder.LanguageGeneration.Tests.csproj
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/ToDoBot/AddToDo.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/ToDoLuisBot/ToDoLuisBot.AddItem.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/ToDoLuisBot/ToDoLuisBot.DeleteItem.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/ToDoLuisBot/ToDoLuisBot.ShowItems.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/app.schema
  tests/Microsoft.Bot.Expressions.Tests/ExpressionEngineTests.cs
Labels: DCR, R8, adaptive

#3303 [Slack Adapter] Fix to filter bot messages
  FunctionalTests/Microsoft.Bot.Builder.FunctionalTests/SlackClientTest.cs
  build/yaml/botbuilder-dotnet-ci-slacktest.yml
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Slack/SlackHelper.cs
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Slack.TestBot/Bots/EchoBot.cs
Labels: channel adapters

#3281 Update MockLuis and profiler to support seperate LUIS directory.
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Testing/MockLuis/MockLuisRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Testing/TestScript.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Profiling/Program.cs
Labels: R8, adaptive, no parity

#3292 [Teams] adding helper to send messages to channel
  libraries/Microsoft.Bot.Builder/Teams/TeamsInfo.cs
  tests/Microsoft.Bot.Builder.Tests/Teams/TeamsInfoTests.cs
  tests/Teams/ReplyToChannel/Bots/ReplyToChannel.cs
Labels: R8, teams

#3250 [Facebook Adapters] Add Facebook functional test
  FunctionalTests/Microsoft.Bot.Builder.FunctionalTests/FacebookChatTests.cs
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Facebook.PrimaryTestBot/DeploymentTemplates/template-with-new-rg.json
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Facebook.PrimaryTestBot/DeploymentTemplates/template-with-preexisting-rg.json
Labels: channel adapters

#3257 [Webex Adapter] Add Webex Functional Test and YAML File
  FunctionalTests/Microsoft.Bot.Builder.FunctionalTests/Microsoft.Bot.Builder.FunctionalTests.csproj
  FunctionalTests/Microsoft.Bot.Builder.FunctionalTests/WebexClientTest.cs
  build/yaml/botbuilder-dotnet-ci-webextest.yml
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Webex.TestBot/DeploymentTemplates/template-with-new-rg.json
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Webex.TestBot/DeploymentTemplates/template-with-preexisting-rg.json
Labels: channel adapters

#3287 Add build YAML for Twilio functional test
  build/yaml/botbuilder-dotnet-ci-twilio-test.yml
Labels: channel adapters

#3262 Add build YAML for Facebook functional test
  FunctionalTests/Microsoft.Bot.Builder.FunctionalTests/FacebookChatTests.cs
  build/yaml/botbuilder-dotnet-ci-facebook-test.yml
Labels: channel adapters

#2165 Update Recognizers-Text packages and fix ChoiceRecognizers' match for "last" utterance
  libraries/Microsoft.Bot.Builder.Dialogs/Choices/ChoiceRecognizers.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Prompts/NumberPrompt.cs
Labels: R8, no parity

#3310 Update Functional Tests YAML files
  build/yaml/botbuilder-dotnet-ci-facebook-test.yml
  build/yaml/botbuilder-dotnet-ci-slacktest.yml
  build/yaml/botbuilder-dotnet-ci-twilio-test.yml
  build/yaml/botbuilder-dotnet-ci-webextest.yml
  build/yaml/nightly-build-functional-test-unix.yml
  build/yaml/nightly-build-functional-test-windows.yml
Labels: channel adapters

#3286 [Twilio Adapter] Add Twilio functional test
  FunctionalTests/Microsoft.Bot.Builder.FunctionalTests/Microsoft.Bot.Builder.FunctionalTests.csproj
  FunctionalTests/Microsoft.Bot.Builder.FunctionalTests/TwilioNumberTests.cs
  Microsoft.Bot.Builder.sln
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Twilio.TestBot/Bots/EchoBot.cs
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Twilio.TestBot/Controllers/BotController.cs
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Twilio.TestBot/DeploymentTemplates/template-with-new-rg.json
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Twilio.TestBot/DeploymentTemplates/template-with-preexisting-rg.json
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Twilio.TestBot/Microsoft.Bot.Builder.Adapters.Twilio.TestBot.csproj
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Twilio.TestBot/Program.cs
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Twilio.TestBot/README.md
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Twilio.TestBot/Startup.cs
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Twilio.TestBot/appsettings.json
  tests/Adapters/Microsoft.Bot.Builder.Adapters.Twilio.TestBot/wwwroot/default.htm
Labels: channel adapters
