Repository microsoft/botbuilder-dotnet, pull requests merged in 2020-04, with the labels that each got.

#3651 Add doc XML to the QnAMakerDialog class
  libraries/Microsoft.Bot.Builder.AI.QnA/Dialogs/QnAMakerDialog.cs
Labels: docs, needs-review

#3629 Debugger: Clean up on Disconnection and Identifier Thread Safety
  libraries/Microsoft.Bot.Builder.Dialogs.Debugging/DebuggerSourceMap.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Debugging/DialogDebugAdapter.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Debugging/IBreakpoints.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Debugging/Identifiers/IIdentifier{T}.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Debugging/Identifiers/IdentifierCache.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Debugging/Identifiers/IdentifierFactory.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Debugging/Identifiers/IdentifierMutex.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Debugging/Identifiers/Identifier{T}.cs
Labels: R9

#3637 Debugger: preserve optional designer identifiers with source map range
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive.Testing/TestingComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Converters/JObjectConverter.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Converters/LanguageGeneratorConverter.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/LUIS/LuisComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/LanguageGenerationComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Memory/Expressions/Converters/DialogExpressionConverter.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/QnAMaker/QnAMakerComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Debugging/DebuggerSourceMap.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Debugging/Protocol.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Converters/InterfaceConverter.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Debugging/SourceContext.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/DeclarativeComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/IComponentDeclarativeTypes.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Resources/ResourceExplorer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Resources/ResourceExtensions.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Debugging/SourcePoint.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Debugging/SourceRange.cs
Labels: R9, adaptive

#3675 [Expression] Support byte array input for base64 function
  libraries/AdaptiveExpressions/ExpressionFunctions.cs
  tests/AdaptiveExpressions.Tests/BadExpressionTests.cs
  tests/AdaptiveExpressions.Tests/ExpressionParserTests.cs
Labels: expression

#3697 [Expression] Add array return type
  libraries/AdaptiveExpressions/Constant.cs
  libraries/AdaptiveExpressions/Expression.cs
  libraries/AdaptiveExpressions/ExpressionFunctions.cs
Labels: expression

#3709 Updates DialogManager to work with skills
  FunctionalTests/Skills/Adaptive/AdaptiveRootBot/AdapterWithErrorHandler.cs
  FunctionalTests/Skills/Adaptive/AdaptiveRootBot/AdaptiveRootBot.csproj
  FunctionalTests/Skills/Adaptive/AdaptiveRootBot/Authentication/AllowedSkillsClaimsValidator.cs
  FunctionalTests/Skills/Adaptive/AdaptiveRootBot/Bots/RootBot.cs
  FunctionalTests/Skills/Adaptive/AdaptiveRootBot/Cards/welcomeCard.json
  FunctionalTests/Skills/Adaptive/AdaptiveRootBot/Controllers/BotController.cs
  FunctionalTests/Skills/Adaptive/AdaptiveRootBot/Controllers/SkillController.cs
  FunctionalTests/Skills/Adaptive/AdaptiveRootBot/Dialogs/MainDialog.cs
  FunctionalTests/Skills/Adaptive/AdaptiveRootBot/Middleware/LoggerMiddleware.cs
  FunctionalTests/Skills/Adaptive/AdaptiveRootBot/Program.cs
  FunctionalTests/Skills/Adaptive/AdaptiveRootBot/SkillConversationIdFactory.cs
  FunctionalTests/Skills/Adaptive/AdaptiveRootBot/SkillsConfiguration.cs
  FunctionalTests/Skills/Adaptive/AdaptiveRootBot/Startup.cs
  FunctionalTests/Skills/Adaptive/AdaptiveRootBot/appsettings.json
  FunctionalTests/Skills/Adaptive/AdaptiveRootBot/wwwroot/default.htm
  FunctionalTests/Skills/Adaptive/AdaptiveSkillBot/AdaptiveSkillBot.csproj
  FunctionalTests/Skills/Adaptive/AdaptiveSkillBot/Bots/ActivityRouterDialog.cs
  FunctionalTests/Skills/Adaptive/AdaptiveSkillBot/Bots/SkillBot.cs
  FunctionalTests/Skills/Adaptive/AdaptiveSkillBot/CognitiveModels/FlightBooking.json
  FunctionalTests/Skills/Adaptive/AdaptiveSkillBot/Controllers/BotController.cs
  FunctionalTests/Skills/Adaptive/AdaptiveSkillBot/Dialogs/BookingDetails.cs
  FunctionalTests/Skills/Adaptive/AdaptiveSkillBot/Dialogs/BookingDialog.cs
  FunctionalTests/Skills/Adaptive/AdaptiveSkillBot/Dialogs/CancelAndHelpDialog.cs
  FunctionalTests/Skills/Adaptive/AdaptiveSkillBot/Dialogs/DateResolverDialog.cs
  FunctionalTests/Skills/Adaptive/AdaptiveSkillBot/Dialogs/DialogSkillBotRecognizer.cs
  FunctionalTests/Skills/Adaptive/AdaptiveSkillBot/Dialogs/Location.cs
  FunctionalTests/Skills/Adaptive/AdaptiveSkillBot/Dialogs/OAuthTestDialog.cs
  FunctionalTests/Skills/Adaptive/AdaptiveSkillBot/Program.cs
  FunctionalTests/Skills/Adaptive/AdaptiveSkillBot/SkillAdapterWithErrorHandler.cs
  FunctionalTests/Skills/Adaptive/AdaptiveSkillBot/Startup.cs
  FunctionalTests/Skills/Adaptive/AdaptiveSkillBot/appsettings.json
  FunctionalTests/Skills/Adaptive/AdaptiveSkillBot/wwwroot/default.htm
  FunctionalTests/Skills/Adaptive/AdaptiveSkillBot/wwwroot/manifest/dialogchildbot-manifest-1.0.json
  Microsoft.Bot.Builder.Skills.sln
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/DialogManager.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/DialogManagerTests.cs
Labels: R9, Skills

#3704 Fix foreach issue and update some schema examples
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/ForEach.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/ForEachPage.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.EditArray.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.Foreach.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.ForeachPage.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.DateTimeInput.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.InputDialog.json
  schemas/sdk.schema
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/ActionTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_ForeachPage_Nested.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_Foreach_Nested.test.dialog
Labels: adaptive

#3694 [Expression] Add support of create object via {key: value} syntax
  libraries/AdaptiveExpressions/parser/ExpressionAntlrLexer.g4
  libraries/AdaptiveExpressions/parser/ExpressionAntlrParser.g4
  libraries/AdaptiveExpressions/parser/ExpressionParser.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGFileLexer.g4
  tests/AdaptiveExpressions.Tests/ExpressionParserTests.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/EvalExpression.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/TemplatesTest.cs
Labels: expression

#3740 Update Microsoft.ContinueLoop.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.ContinueLoop.schema
  schemas/sdk.schema
Labels: R9, adaptive, schema

#3624 Add extension for default languagePolicy
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/MultiLanguageGeneratorBase.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/LGExtensions.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/LanguagePolicy.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/MultiLanguageRecognizer.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/Fallback/test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/LGGeneratorTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests.csproj
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/lg/subDialog.fr-fr.lg
Labels: adaptive

#3735 Updated RunAsync to avoid sending EoC from the RootBot to the channel
  FunctionalTests/Skills/DialogToDialog/DialogEchoSkillBot/Bots/EchoBot.cs
  FunctionalTests/Skills/DialogToDialog/DialogRootBot/AdapterWithErrorHandler.cs
  FunctionalTests/Skills/DialogToDialog/DialogRootBot/Authentication/AllowedSkillsClaimsValidator.cs
  FunctionalTests/Skills/DialogToDialog/DialogRootBot/Bots/RootBot.cs
  FunctionalTests/Skills/DialogToDialog/DialogRootBot/Cards/welcomeCard.json
  FunctionalTests/Skills/DialogToDialog/DialogRootBot/Controllers/BotController.cs
  FunctionalTests/Skills/DialogToDialog/DialogRootBot/DialogRootBot.csproj
  FunctionalTests/Skills/DialogToDialog/DialogRootBot/Dialogs/MainDialog.cs
  FunctionalTests/Skills/DialogToDialog/DialogRootBot/Middleware/LoggerMiddleware.cs
  FunctionalTests/Skills/DialogToDialog/DialogRootBot/README.md
  FunctionalTests/Skills/DialogToDialog/DialogRootBot/Startup.cs
  FunctionalTests/Skills/DialogToDialog/DialogSkillBot/Authentication/AllowedCallersClaimsValidator.cs
  FunctionalTests/Skills/DialogToDialog/DialogSkillBot/Bots/ActivityRouterDialog.cs
  FunctionalTests/Skills/DialogToDialog/DialogSkillBot/Bots/SkillBot.cs
  FunctionalTests/Skills/DialogToDialog/DialogSkillBot/CognitiveModels/FlightBooking.cs
  FunctionalTests/Skills/DialogToDialog/DialogSkillBot/CognitiveModels/FlightBookingEx.cs
  FunctionalTests/Skills/DialogToDialog/DialogSkillBot/Controllers/BotController.cs
  FunctionalTests/Skills/DialogToDialog/DialogSkillBot/Controllers/SkillController.cs
  FunctionalTests/Skills/DialogToDialog/DialogSkillBot/DialogSkillBot.csproj
  FunctionalTests/Skills/DialogToDialog/DialogSkillBot/Dialogs/ActivityRouterDialog.cs
  FunctionalTests/Skills/DialogToDialog/DialogSkillBot/Dialogs/CancelAndHelpDialog.cs
  FunctionalTests/Skills/DialogToDialog/DialogSkillBot/Dialogs/DateResolverDialog.cs
  FunctionalTests/Skills/DialogToDialog/DialogSkillBot/Dialogs/DialogSkillBotRecognizer.cs
  FunctionalTests/Skills/DialogToDialog/DialogSkillBot/Dialogs/Location.cs
  FunctionalTests/Skills/DialogToDialog/DialogSkillBot/README.md
  FunctionalTests/Skills/DialogToDialog/DialogSkillBot/SkillAdapterWithErrorHandler.cs
  FunctionalTests/Skills/DialogToDialog/DialogSkillBot/SkillConversationIdFactory.cs
  FunctionalTests/Skills/DialogToDialog/DialogSkillBot/Startup.cs
  FunctionalTests/Skills/DialogToDialog/DialogSkillBot/appsettings.json
  FunctionalTests/Skills/DialogToDialog/DialogSkillBot/wwwroot/manifest/dialogchildbot-manifest-1.0.json
  FunctionalTests/Skills/DialogToDialog/README.md
  Microsoft.Bot.Builder.Skills.sln
  libraries/Microsoft.Bot.Builder.Dialogs/DialogExtensions.cs
  libraries/Microsoft.Bot.Builder/Skills/SkillHandler.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/DialogExtensionsTests.cs
Labels: P0, R9, Skills

#3664 Fix OAuth bug
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/OAuthInput.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.OAuthInput.schema
  schemas/sdk.schema
Labels: adaptive

#3693 fix repeat option
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/RepeatDialog.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_RepeatDialog.test.dialog
Labels: adaptive

#3711 Some cleanup of internals
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive.Testing/TestingComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Converters/JObjectConverter.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Converters/LanguageGeneratorConverter.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/LUIS/LuisComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/LanguageGenerationComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Memory/Expressions/Converters/DialogExpressionConverter.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/QnAMaker/QnAMakerComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Debugging/SourceContext.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Converters/InterfaceConverter.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Debugging/SourceScope.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/DeclarativeComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/IComponentDeclarativeTypes.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Resources/ResourceExplorer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Resources/ResourceExtensions.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Debugging/SourceContext.cs
  libraries/Microsoft.Bot.Builder.Dialogs/DialogsComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Memory/DialogStateManager.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Memory/PathResolvers/AliasPathResolver.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Memory/PathResolvers/AtPathResolver.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Memory/Scopes/BotStateMemoryScope.cs
  libraries/Microsoft.Bot.Builder/ComponentRegistration.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/DialogStateManagerTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/MemoryScopeTests.cs
Labels: R9

#3741 [Certificate Authentication] Expose sendX5c parameter
  libraries/Microsoft.Bot.Connector/Authentication/AdalAuthenticator.cs
  libraries/Microsoft.Bot.Connector/Authentication/CertificateAppCredentials.cs
Labels: R9, authentication

#3728 Ensure BOM is not written to response body in HttpHelper
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/HttpHelper.cs
  tests/integration/Microsoft.Bot.Builder.Integration.AspNet.Core.Tests/HttpHelperTests.cs
Labels: no parity

#3718 Add/Edit /// comments. Fix some code smell.
  libraries/Microsoft.Bot.Builder.AI.QnA/QnAMakerOptions.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/QnAMaker/QnAMakerDialog2.cs
Labels: adaptive, docs

#3746 Add initial code owners to packages
  .github/CODEOWNERS
Labels: R9

#3715 Fixes for QnA / Recognizer Adaptive telemetry
  libraries/Microsoft.Bot.Builder.AI.QnA/Dialogs/QnAMakerDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/LUIS/LuisAdaptiveRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/QnAMaker/QnAMakerDialog2.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/QnAMaker/QnAMakerRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/CrossTrainedRecognizerSet.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/MultiLanguageRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/RecognizerSet.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/RegexRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/ValueRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TelemetryExtensions.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Recognizer.cs
Labels: adaptive

#3754 Add custom endpoint property to the LuisService class
  libraries/Microsoft.Bot.Configuration/Services/LuisService.cs
Labels: parity with JS, parity with python

#3794 tweaks to schema per feedback from composer team
  libraries/Microsoft.Bot.Builder.AI.QnA/Schemas/Microsoft.QnAMakerDialog.schema
  libraries/Microsoft.Bot.Builder.AI.QnA/Schemas/Microsoft.QnAMakerRecognizer.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Converters/ActivityTemplateConverter.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Converters/ITemplateActivityConverter.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Converters/StaticActivityTemplateConverter.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/LanguageGenerationComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.BeginDialog.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.EditActions.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.EditArray.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.EmitEvent.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.HttpRequest.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.AttachmentInput.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.ChoiceInput.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.ConfirmInput.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Microsoft.IActivityTemplate.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Templates/ActivityTemplate.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Templates/StaticActivityTemplate.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Converters/InterfaceConverter.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_ChoiceStringInMemory.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_ChoicesInMemory.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_SendActivity.test.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/testbot.schema
  tests/tests.schema
Labels: Adaptive

#3800 make converters internal
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Converters/ActivityTemplateConverter.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Converters/ITemplateActivityConverter.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Converters/JObjectConverter.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Converters/LanguageGeneratorConverter.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Converters/StaticActivityTemplateConverter.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Converters/ActivityConverter.cs
Labels: Adaptive, R9

#3788 Fix for Issue3767 (scoped services not working correctly)
  libraries/Microsoft.Bot.Builder.AI.QnA/Dialogs/QnAMakerDialog.cs
  libraries/Microsoft.Bot.Builder.AI.QnA/Utils/BindToActivity.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/LogAction.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/SendActivity.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/UpdateActivity.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/MultiLanguageGenerator.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/MultiLanguageGeneratorBase.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/ResourceMultiLanguageGenerator.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/TemplateEngineLanguageGenerator.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/InputDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/OAuthInput.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/LanguageGenerator.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Skills/AdaptiveSkillDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Templates/ActivityTemplate.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Templates/StaticActivityTemplate.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Templates/TextTemplate.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Debugging/DebuggerSourceMap.cs
  libraries/Microsoft.Bot.Builder.Dialogs/DialogContext.cs
  libraries/Microsoft.Bot.Builder.Dialogs/DialogManager.cs
  libraries/Microsoft.Bot.Builder.Dialogs/ITemplate.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Memory/Scopes/ClassMemoryScope.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Memory/Scopes/DialogClassMemoryScope.cs
  libraries/Microsoft.Bot.Builder/TurnContextStateCollection.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/LGGeneratorTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/AdaptiveDialogTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/MiscTests.cs
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/IssueBot/issue.lg
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/IssueBot/issue.main.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/IssueBot/sub.lg
  tests/Microsoft.Bot.Builder.Tests/TurnContextStateCollectionTests.cs
Labels: Adaptive, R9

#3789 Update AdaptiveSkillDialog to use ActivityProcessed
  Microsoft.Bot.Builder.Skills.sln
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Dialogs/Microsoft.SkillDialog.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Skills/AdaptiveSkillDialog.cs
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/80 - AdaptiveSkillDialog/AdaptiveSkillDialog.main.dialog
Labels: Adaptive

#3796 healthcheck feature
  libraries/Microsoft.Bot.Builder/ActivityHandler.cs
  libraries/Microsoft.Bot.Builder/HealthCheck.cs
  libraries/Microsoft.Bot.Schema/HealthCheckResponse.cs
  libraries/Microsoft.Bot.Schema/HealthResults.cs
  tests/Microsoft.Bot.Builder.Tests/ActivityHandlerTests.cs
Labels: changes required

#3804 [PORT] Bot Change Detection
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/ActionScope.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/OnCondition.cs
  libraries/Microsoft.Bot.Builder.Dialogs/ComponentDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Dialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs/DialogContainer.cs
  libraries/Microsoft.Bot.Builder.Dialogs/DialogEvents.cs
  libraries/Microsoft.Bot.Builder.Dialogs/DialogInstance.cs
  libraries/Microsoft.Bot.Builder.Dialogs/DialogSet.cs
  libraries/Microsoft.Bot.Builder.Dialogs/WaterfallDialog.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/AdaptiveDialogTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/DialogContainerTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/DialogSetTests.cs
Labels: R9

#3807 bump assembly version 4.8 => 4.9
  Directory.Build.props
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/Microsoft.Bot.Builder.Adapters.Facebook.csproj
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Slack/Microsoft.Bot.Builder.Adapters.Slack.csproj
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Twilio/Microsoft.Bot.Builder.Adapters.Twilio.csproj
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Webex/Microsoft.Bot.Builder.Adapters.Webex.csproj
  libraries/AdaptiveExpressions/AdaptiveExpressions.csproj
  libraries/Microsoft.Bot.Builder.AI.LUIS/Microsoft.Bot.Builder.AI.Luis.csproj
  libraries/Microsoft.Bot.Builder.AI.QnA/Microsoft.Bot.Builder.AI.QnA.csproj
  libraries/Microsoft.Bot.Builder.ApplicationInsights/Microsoft.Bot.Builder.ApplicationInsights.csproj
  libraries/Microsoft.Bot.Builder.Azure/Microsoft.Bot.Builder.Azure.csproj
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive.Testing/Microsoft.Bot.Builder.Dialogs.Adaptive.Testing.csproj
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Microsoft.Bot.Builder.Dialogs.Adaptive.csproj
  libraries/Microsoft.Bot.Builder.Dialogs.Debugging/Microsoft.Bot.Builder.Dialogs.Debugging.csproj
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Microsoft.Bot.Builder.Dialogs.Declarative.csproj
  libraries/Microsoft.Bot.Builder.Dialogs/Microsoft.Bot.Builder.Dialogs.csproj
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Microsoft.Bot.Builder.LanguageGeneration.csproj
  libraries/Microsoft.Bot.Builder.TemplateManager/Microsoft.Bot.Builder.TemplateManager.csproj
  libraries/Microsoft.Bot.Builder.Testing/Microsoft.Bot.Builder.Testing.csproj
  libraries/Microsoft.Bot.Builder/Microsoft.Bot.Builder.csproj
  libraries/Microsoft.Bot.Configuration/Microsoft.Bot.Configuration.csproj
  libraries/Microsoft.Bot.Connector/Microsoft.Bot.Connector.csproj
  libraries/Microsoft.Bot.Schema/Microsoft.Bot.Schema.csproj
  libraries/Microsoft.Bot.Streaming/Microsoft.Bot.Streaming.csproj
  libraries/integration/Microsoft.Bot.Builder.Integration.ApplicationInsights.Core/Microsoft.Bot.Builder.Integration.ApplicationInsights.Core.csproj
  libraries/integration/Microsoft.Bot.Builder.Integration.ApplicationInsights.WebApi/Microsoft.Bot.Builder.Integration.ApplicationInsights.WebApi.csproj
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/Microsoft.Bot.Builder.Integration.AspNet.Core.csproj
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.WebApi/Microsoft.Bot.Builder.Integration.AspNet.WebApi.csproj
Labels: P0, R9

#3811 Replace resource interfaces with abstract base classes
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/LanguageGeneratorManager.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Generators/TemplateEngineLanguageGenerator.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/LGResourceLoader.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Resources/FileResource.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Resources/FolderResourceProvider.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Resources/IResource.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Resources/IResourceProvider.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Resources/Resource.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Resources/ResourceExplorer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Resources/ResourceExtensions.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Resources/ResourceProvider.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_DynamicBeginDialog.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/CustomAction2.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/CustomAction2.dialog.schema
  tests/Microsoft.Bot.Builder.Dialogs.Declarative.Tests/ResourceTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Declarative.Tests/SchemaMergeTests.cs
  tests/Microsoft.Bot.Builder.TestBot.Json/TestBot.cs
  tests/tests.schema
Labels: Adaptive

#3819 Check for null on Activity.From when logging telemetry
  libraries/Microsoft.Bot.Builder.AI.QnA/QnAMaker.cs
Labels: no parity

#3734 [Authentication] updates to support Arlington
  libraries/Microsoft.Bot.Connector/Authentication/AdalAuthenticator.cs
  libraries/Microsoft.Bot.Connector/Authentication/GovernmentAuthenticationConstants.cs
  tests/Microsoft.Bot.Connector.Tests/Authentication/MicrosoftGovernmentAppCredentialsTests.cs
Labels: R9

#3778 add allowloop to repeat dialog and test
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/RepeatDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.RepeatDialog.schema
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/ActionTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_RepeatDialogLoop.test.dialog
  tests/tests.schema
Labels: Adaptive, R9

#3786 [QnAMaker] Volitile LowScoreVariation and Active Learning Issue fix
  libraries/Microsoft.Bot.Builder.AI.QnA/Dialogs/QnAMakerDialog.cs
  tests/Microsoft.Bot.Builder.AI.QnA.Tests/QnAMakerTests.cs
  tests/Microsoft.Bot.Builder.AI.QnA.Tests/TestData/QnaMaker_TopNAnswer_DisableActiveLearning.json
Labels: changes required

#3832 Drop OnCustomEvent, it's a duplicate of OnDialogEvent
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/TriggerConditions/Microsoft.OnCustomEvent.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/OnCustomEvent.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/ConditionalsTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ActionTests/Action_EmitEvent.test.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/testbot.schema
  tests/tests.schema
Labels: Adaptive

#3830 Move LuisAdaptiveRecognizer into LUIS assembly
  FunctionalTests/Microsoft.Bot.Builder.FunctionalTests/Microsoft.Bot.Builder.FunctionalTests.csproj
  libraries/Microsoft.Bot.Builder.AI.LUIS/DynamicList.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/LuisAdaptiveRecognizer.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/LuisComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/Microsoft.Bot.Builder.AI.Luis.csproj
  libraries/Microsoft.Bot.Builder.AI.LUIS/Schemas/Microsoft.LuisRecognizer.schema
  tests/Microsoft.Bot.Builder.AI.LUIS.Tests/LuisAdaptiveRecognizerTests.cs
  tests/Microsoft.Bot.Builder.AI.LUIS.Tests/Microsoft.Bot.Builder.AI.Luis.Tests.csproj
  tests/Microsoft.Bot.Builder.AI.LUIS.Tests/tests/LuisAdaptiveRecognizerTests/DynamicLists.test.dialog
  tests/Microsoft.Bot.Builder.AI.LUIS.Tests/tests/LuisAdaptiveRecognizerTests/DynamicLists.test.en-us.lu.dialog
  tests/Microsoft.Bot.Builder.AI.LUIS.Tests/tests/LuisAdaptiveRecognizerTests/DynamicLists.test.lu
  tests/Microsoft.Bot.Builder.AI.LUIS.Tests/tests/LuisAdaptiveRecognizerTests/DynamicLists.test.lu.dialog
  tests/Microsoft.Bot.Builder.AI.LUIS.Tests/tests/LuisAdaptiveRecognizerTests/DynamicListsExpression.test.dialog
  tests/Microsoft.Bot.Builder.AI.LUIS.Tests/tests/LuisAdaptiveRecognizerTests/ExternalEntities.Recognizer.dialog
  tests/Microsoft.Bot.Builder.AI.LUIS.Tests/tests/LuisAdaptiveRecognizerTests/ExternalEntities.test.dialog
  tests/Microsoft.Bot.Builder.AI.LUIS.Tests/tests/LuisAdaptiveRecognizerTests/ExternalEntities.test.en-us.lu.dialog
  tests/Microsoft.Bot.Builder.AI.LUIS.Tests/tests/LuisAdaptiveRecognizerTests/ExternalEntities.test.lu
  tests/Microsoft.Bot.Builder.AI.LUIS.Tests/tests/LuisAdaptiveRecognizerTests/ExternalEntities.test.lu.dialog
  tests/Microsoft.Bot.Builder.AI.LUIS.Tests/tests/LuisAdaptiveRecognizerTests/LUISBuild.cmd
  tests/Microsoft.Bot.Builder.AI.LUIS.Tests/tests/LuisAdaptiveRecognizerTests/cachedResponses/DynamicLists_test_en_us_lu/1639354569.json
  tests/Microsoft.Bot.Builder.AI.LUIS.Tests/tests/LuisAdaptiveRecognizerTests/cachedResponses/DynamicLists_test_en_us_lu/283019056.json
  tests/Microsoft.Bot.Builder.AI.LUIS.Tests/tests/LuisAdaptiveRecognizerTests/cachedResponses/DynamicLists_test_en_us_lu/2859100238.json
  tests/Microsoft.Bot.Builder.AI.LUIS.Tests/tests/LuisAdaptiveRecognizerTests/cachedResponses/DynamicLists_test_en_us_lu/894663559.json
  tests/Microsoft.Bot.Builder.AI.LUIS.Tests/tests/LuisAdaptiveRecognizerTests/cachedResponses/ExternalEntities_test_en_us_lu/1056632245.json
  tests/Microsoft.Bot.Builder.AI.LUIS.Tests/tests/LuisAdaptiveRecognizerTests/cachedResponses/ExternalEntities_test_en_us_lu/1335032396.json
  tests/Microsoft.Bot.Builder.AI.LUIS.Tests/tests/LuisAdaptiveRecognizerTests/cachedResponses/ExternalEntities_test_en_us_lu/1780418299.json
  tests/Microsoft.Bot.Builder.AI.LUIS.Tests/tests/LuisAdaptiveRecognizerTests/cachedResponses/ExternalEntities_test_en_us_lu/4112913714.json
  tests/Microsoft.Bot.Builder.AI.LUIS.Tests/tests/LuisAdaptiveRecognizerTests/luis.settings.development.westus.json
  tests/Microsoft.Bot.Builder.Ai.LUISV3.tests/Microsoft.Bot.Builder.AI.LuisV3.Tests.csproj
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Profiling/Program.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/GeneratorTests.cs
  tests/Microsoft.Bot.Connector.Tests/Microsoft.Bot.Connector.Tests.csproj
  tests/tests.schema
Labels: Adaptive, R9

#3834 SkillDialog activity type handling updates
  libraries/Microsoft.Bot.Builder.Dialogs/SkillDialog.cs
  libraries/Microsoft.Bot.Builder/BotFrameworkAdapter.cs
  libraries/Microsoft.Bot.Builder/InvokeResponse.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/SkillDialogTests.cs
Labels: Skills, no parity

#3838 Cleanup Component Registration
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive.Testing/AdaptiveTestingComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Resources/ResourceExplorer.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Memory/DialogStateManager.cs
  libraries/Microsoft.Bot.Builder/ComponentRegistration.cs
  tests/Microsoft.Bot.Builder.AI.LUIS.Tests/Startup.cs
  tests/Microsoft.Bot.Builder.AI.QnA.Tests/Startup.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/LGGeneratorTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Templates.Tests/Startup.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Startup.cs
  tests/Microsoft.Bot.Builder.Dialogs.Declarative.Tests/Startup.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/Startup.cs
  tests/Microsoft.Bot.Builder.TestBot.Json/BotBuilderTestBot.bot
  tests/Microsoft.Bot.Builder.TestBot.Json/Startup.cs
Labels: Adaptive
