Repository microsoft/botbuilder-dotnet, pull requests merged in 2020-02, with the labels that each got.

#3337 Update schema to include strings for unions and other minor fixes
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Microsoft.AdaptiveDialog.schema
  schemas/component.schema
  schemas/sdk.schema
Labels: R8, adaptive, no parity

#3353 Updated MicrosoftGovernmentAppCredentials to support Skills in Azure Gov
  FunctionalTests/Skills/SimpleBotToBot/EchoSkillBot/Authentication/AllowedCallersClaimsValidator.cs
  FunctionalTests/Skills/SimpleBotToBot/EchoSkillBot/Bots/EchoBot.cs
  FunctionalTests/Skills/SimpleBotToBot/EchoSkillBot/Controllers/BotController.cs
  FunctionalTests/Skills/SimpleBotToBot/EchoSkillBot/EchoSkillBot.csproj
  FunctionalTests/Skills/SimpleBotToBot/EchoSkillBot/Program.cs
  FunctionalTests/Skills/SimpleBotToBot/EchoSkillBot/Properties/launchSettings.json
  FunctionalTests/Skills/SimpleBotToBot/EchoSkillBot/SkillAdapterWithErrorHandler.cs
  FunctionalTests/Skills/SimpleBotToBot/EchoSkillBot/Startup.cs
  FunctionalTests/Skills/SimpleBotToBot/EchoSkillBot/appsettings.json
  FunctionalTests/Skills/SimpleBotToBot/EchoSkillBot/wwwroot/default.htm
  FunctionalTests/Skills/SimpleBotToBot/EchoSkillBot/wwwroot/manifest/echoskillbot-manifest-1.0.json
  FunctionalTests/Skills/SimpleBotToBot/SimpleRootBot/AdapterWithErrorHandler.cs
  FunctionalTests/Skills/SimpleBotToBot/SimpleRootBot/Authentication/AllowedSkillsClaimsValidator.cs
  FunctionalTests/Skills/SimpleBotToBot/SimpleRootBot/Bots/RootBot.cs
  FunctionalTests/Skills/SimpleBotToBot/SimpleRootBot/Controllers/BotController.cs
  FunctionalTests/Skills/SimpleBotToBot/SimpleRootBot/Controllers/SkillController.cs
  FunctionalTests/Skills/SimpleBotToBot/SimpleRootBot/Program.cs
  FunctionalTests/Skills/SimpleBotToBot/SimpleRootBot/Properties/launchSettings.json
  FunctionalTests/Skills/SimpleBotToBot/SimpleRootBot/SimpleRootBot.csproj
  FunctionalTests/Skills/SimpleBotToBot/SimpleRootBot/SkillConversationIdFactory.cs
  FunctionalTests/Skills/SimpleBotToBot/SimpleRootBot/SkillsConfiguration.cs
  FunctionalTests/Skills/SimpleBotToBot/SimpleRootBot/Startup.cs
  FunctionalTests/Skills/SimpleBotToBot/SimpleRootBot/appsettings.json
  FunctionalTests/Skills/SimpleBotToBot/SimpleRootBot/wwwroot/default.htm
  Microsoft.Bot.Builder.Skills.sln
  libraries/Microsoft.Bot.Builder/BotFrameworkAdapter.cs
  libraries/Microsoft.Bot.Connector/Authentication/MicrosoftGovernmentAppCredentials.cs
  libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/BotFrameworkHttpClient.cs
  tests/Microsoft.Bot.Connector.Tests/Authentication/MicrosoftGovernmentAppCredentialsTests.cs
Labels: Skills

#3351 Handle multiple property names on property assignment choice
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/Ask.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/GeneratorTests/Generator_sandwich.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/GeneratorTests/sandwich/cachedResponses/sandwich_en-us_lu/2303120276.json
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/GeneratorTests/sandwich/cachedResponses/sandwich_en-us_lu/2494193781.json
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/GeneratorTests/sandwich/cachedResponses/sandwich_en-us_lu/283529896.json
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/GeneratorTests/sandwich/cachedResponses/sandwich_en-us_lu/3220454804.json
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/GeneratorTests/sandwich/cachedResponses/sandwich_en-us_lu/3881719927.json
Labels: Generated Dialogs, adaptive

#3349 Fix typos [mostly] in the bot.builder namespace
  libraries/Microsoft.Bot.Builder.ApplicationInsights/BotTelemetryClient.cs
  libraries/Microsoft.Bot.Builder/AdapterExtensions.cs
  libraries/Microsoft.Bot.Builder/Adapters/TestAdapter.cs
  libraries/Microsoft.Bot.Builder/Adapters/TestFlow.cs
  libraries/Microsoft.Bot.Builder/AutoSaveStateMiddleware.cs
  libraries/Microsoft.Bot.Builder/BotFrameworkAdapter.cs
  libraries/Microsoft.Bot.Builder/BotState.cs
  libraries/Microsoft.Bot.Builder/ChannelServiceHandler.cs
  libraries/Microsoft.Bot.Builder/IBotTelemetryClient.cs
  libraries/Microsoft.Bot.Builder/IStatePropertyAccessor.cs
  libraries/Microsoft.Bot.Builder/IStatePropertyInfo.cs
  libraries/Microsoft.Bot.Builder/InvokeResponse.cs
  libraries/Microsoft.Bot.Builder/MiddlewareSet.cs
  libraries/Microsoft.Bot.Builder/PathUtils.cs
  libraries/Microsoft.Bot.Builder/RegisterClassMiddleware.cs
  libraries/Microsoft.Bot.Builder/Severity.cs
  libraries/Microsoft.Bot.Builder/Streaming/BotFrameworkHttpAdapterBase.cs
  libraries/Microsoft.Bot.Builder/Streaming/StreamingRequestHandler.cs
  libraries/Microsoft.Bot.Builder/TelemetryConstants.cs
  libraries/Microsoft.Bot.Builder/TelemetryLoggerConstants.cs
  libraries/Microsoft.Bot.Builder/TelemetryLoggerMiddleware.cs
  libraries/Microsoft.Bot.Builder/TraceTranscriptLogger.cs
  libraries/Microsoft.Bot.Builder/TranscriptLoggerMiddleware.cs
  libraries/Microsoft.Bot.Builder/TurnContextStateCollection.cs
Labels: docs

#2968 [Expression]Add string interpolation
  CodeCoverage.runsettings
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Evaluator.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGFileLexer.g4
  libraries/Microsoft.Bot.Expressions/ExpressionFunctions.cs
  libraries/Microsoft.Bot.Expressions/Microsoft.Bot.Expressions.csproj
  libraries/Microsoft.Bot.Expressions/parser/Expression.g4
  libraries/Microsoft.Bot.Expressions/parser/ExpressionEngine.cs
  libraries/Microsoft.Bot.Expressions/parser/ExpressionLexer.g4
  libraries/Microsoft.Bot.Expressions/parser/ExpressionParser.g4
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/StringInterpolation.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/LGFileTest.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Microsoft.Bot.Builder.LanguageGeneration.Tests.csproj
  tests/Microsoft.Bot.Expressions.Tests/BadExpressionTests.cs
  tests/Microsoft.Bot.Expressions.Tests/ExpressionEngineTests.cs
Labels: adaptive

#3365 Merge temporary assembly Expressions.Properties into Expressions
  Microsoft.Bot.Builder.sln
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/Case.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/SwitchCondition.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/LUIS/LuisComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Microsoft.Bot.Builder.Dialogs.Adaptive.csproj
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/QnAMaker/QnAMakerComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.SwitchCondition.schema
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGFile.cs
  libraries/Microsoft.Bot.Expressions.Properties/Extensions.cs
  libraries/Microsoft.Bot.Expressions.Properties/Microsoft.Bot.Expressions.Properties.csproj
  libraries/Microsoft.Bot.Expressions.Properties/icon.png
  libraries/Microsoft.Bot.Expressions/Converters/ArrayExpressionConverter.cs
  libraries/Microsoft.Bot.Expressions/Converters/BoolExpressionConverter.cs
  libraries/Microsoft.Bot.Expressions/Converters/EnumExpressionConverter.cs
  libraries/Microsoft.Bot.Expressions/Converters/ExpressionPropertyConverter.cs
  libraries/Microsoft.Bot.Expressions/Converters/IntExpressionConverter.cs
  libraries/Microsoft.Bot.Expressions/Converters/NumberExpressionConverter.cs
  libraries/Microsoft.Bot.Expressions/Converters/ObjectExpressionConverter.cs
  libraries/Microsoft.Bot.Expressions/Converters/StringExpressionConverter.cs
  libraries/Microsoft.Bot.Expressions/Converters/ValueExpressionConverter.cs
  libraries/Microsoft.Bot.Expressions/Expression.cs
  libraries/Microsoft.Bot.Expressions/ExpressionProperties/ArrayExpression.cs
  libraries/Microsoft.Bot.Expressions/ExpressionProperties/BoolExpression.cs
  libraries/Microsoft.Bot.Expressions/ExpressionProperties/EnumExpression.cs
  libraries/Microsoft.Bot.Expressions/ExpressionProperties/ExpressionProperty.cs
  libraries/Microsoft.Bot.Expressions/ExpressionProperties/IntExpression.cs
  libraries/Microsoft.Bot.Expressions/ExpressionProperties/NumberExpression.cs
  libraries/Microsoft.Bot.Expressions/ExpressionProperties/ObjectExpression.cs
  libraries/Microsoft.Bot.Expressions/ExpressionProperties/StringExpression.cs
  libraries/Microsoft.Bot.Expressions/ExpressionProperties/ValueExpression.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/ChoiceSetTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/LuisRecognizerTests.cs
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/GeneratedForm/luis/luis.settings.chrimc.westus.json
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/GeneratedForm/luis/luis.settings.development.westus.json
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/GeneratedForm/luis/luis.settings.tomlm.westus.json
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/ToDoLuisBot/luis.settings.development.westus.json
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/ToDoLuisBot/luis.settings.tomlm.westus.json
  tests/Microsoft.Bot.Builder.Tests/ShowTyping_MiddlewareTests.cs
  tests/Microsoft.Bot.Expressions.Tests/ExpressionPropertyTests.cs
Labels: R8, adaptive

#3269 Treat '@{' an error instead of text in LG
  libraries/Microsoft.Bot.Builder.LanguageGeneration/.antlr/LGFileLexer.interp
  libraries/Microsoft.Bot.Builder.LanguageGeneration/.antlr/LGFileLexer.java
  libraries/Microsoft.Bot.Builder.LanguageGeneration/.antlr/LGFileLexer.tokens
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Evaluator.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGErrors.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGFileLexer.g4
  libraries/Microsoft.Bot.Builder.LanguageGeneration/StaticChecker.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/ExceptionExamples/ExpressionFormatError.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/LGFileDiagnosticTest.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Microsoft.Bot.Builder.LanguageGeneration.Tests.csproj
Labels: adaptive

#3368 String interpolation enhancement
  libraries/AdaptiveExpressions/ExpressionFunctions.cs
  libraries/AdaptiveExpressions/ExpressionType.cs
  libraries/AdaptiveExpressions/parser/ExpressionEngine.cs
  libraries/AdaptiveExpressions/parser/ExpressionParser.g4
  libraries/Microsoft.Bot.Builder.LanguageGeneration/.antlr/LGFileLexer.interp
  libraries/Microsoft.Bot.Builder.LanguageGeneration/.antlr/LGFileLexer.java
  libraries/Microsoft.Bot.Builder.LanguageGeneration/.antlr/LGFileLexer.tokens
  tests/AdaptiveExpressions.Tests/ExpressionEngineTests.cs
Labels: LG

#3373 Copy edits on the /// docXML for the FacebookAdapter-associated files.
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookAdapter.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookAdapterOptions.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookClientWrapper.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookEvents/AttachmentPayload.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookEvents/FacebookAttachment.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookEvents/FacebookBotUser.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookEvents/FacebookEntry.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookEvents/FacebookPostback.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookEvents/FacebookQuickReply.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookEvents/FacebookRecipient.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookEvents/FacebookResponseOk.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookEvents/Handover/FacebookPassThreadControl.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookEvents/Handover/FacebookRequestThreadControl.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookEvents/Handover/FacebookTakeThreadControl.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookEvents/Handover/FacebookThreadControl.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookEvents/Handover/HandoverConstants.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookEvents/Templates/Button.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookEvents/Templates/DefaultAction.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookEvents/Templates/Element.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookHelper.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/FacebookMessage.cs
  libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook/Message.cs
Labels: WIP, docs

#3397 Enhance the functionality of the + operator
  libraries/AdaptiveExpressions/ExpressionFunctions.cs
  tests/AdaptiveExpressions.Tests/BadExpressionTests.cs
  tests/AdaptiveExpressions.Tests/ExpressionEngineTests.cs
Labels: LG

#3376 DCR 3200 QnAMakerRecognizer improvements.
  libraries/AdaptiveExpressions/ExpressionProperties/ArrayExpression.cs
  libraries/AdaptiveExpressions/ExpressionProperties/BoolExpression.cs
  libraries/AdaptiveExpressions/ExpressionProperties/EnumExpression.cs
  libraries/AdaptiveExpressions/ExpressionProperties/ExpressionProperty.cs
  libraries/AdaptiveExpressions/ExpressionProperties/IntExpression.cs
  libraries/AdaptiveExpressions/ExpressionProperties/NumberExpression.cs
  libraries/AdaptiveExpressions/ExpressionProperties/ObjectExpression.cs
  libraries/AdaptiveExpressions/ExpressionProperties/StringExpression.cs
  libraries/AdaptiveExpressions/ExpressionProperties/ValueExpression.cs
  libraries/Microsoft.Bot.Builder.AI.LUIS/LuisRecognizerOptionsV3.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/ActionScope.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/EmitEvent.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/LUIS/LuisAdaptiveRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/QnAMaker/QnAMakerComponentRegistration.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/QnAMaker/QnAMakerRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/CrossTrainedRecognizerSet.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/MultiLanguageRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/RecognizerSet.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/RegexRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Recognizers/Microsoft.QnAMakerRecognizer.schema
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/SequenceContext.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Testing/Actions/AssertCondition.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Testing/MockLuis/MockLuisRecognizer.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/OnChooseIntent.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Debugging/DebugTransport.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Declarative/Converters/InterfaceConverter.cs
  libraries/Microsoft.Bot.Builder.Dialogs/Recognizer.cs
  schemas/sdk.schema
  tests/AdaptiveExpressions.Tests/ExpressionPropertyTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/AdaptiveDialogTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/MiscTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/RegexRecognizerTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/AdaptiveDialogTests/AdaptiveDialog_AllowInterruption.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/AdaptiveDialogTests/AdaptiveDialog_EmitEventActivityReceived.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/ConditionalsTests/ConditionalsTests_OnChooseIntent.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/CrossTrainedRecognizerSetTests/CrossTrainedRecognizerSetTests_CircleDefer.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/CrossTrainedRecognizerSetTests/CrossTrainedRecognizerSetTests_DoubleDefer.test.dialog
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/CrossTrainedRecognizerSetTests/CrossTrainedRecognizerSetTests_DoubleIntent.test.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/Samples/GeneratedForm/luis/sandwich.en-us.lu.dialog
  tests/Microsoft.Bot.Builder.TestBot.Json/TestBotHttpAdapter.cs
  tests/Microsoft.Bot.Builder.TestBot.Json/app.schema
  tests/Microsoft.Bot.Builder.TestBot.Json/appsettings.json
Labels: DCR, P0, R8, WIP, adaptive

#3403 Update DialogContext.cs
  libraries/Microsoft.Bot.Builder.Dialogs/DialogContext.cs
Labels: docs

#3273 Improve LG errors and description
  libraries/AdaptiveExpressions/CommonRegex.cs
  libraries/AdaptiveExpressions/ExpressionFunctions.cs
  libraries/AdaptiveExpressions/parser/ExpressionEngine.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/ErrorListener.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Evaluator.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Expander.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/Extensions.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGErrors.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGFile.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGFileLexer.g4
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGFileParser.g4
  libraries/Microsoft.Bot.Builder.LanguageGeneration/LGParser.cs
  libraries/Microsoft.Bot.Builder.LanguageGeneration/StaticChecker.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/ExceptionExamples/ConditionFormatError.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/ExceptionExamples/RunTimeErrors.lg
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/LGFileDiagnosticTest.cs
  tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Microsoft.Bot.Builder.LanguageGeneration.Tests.csproj
Labels: adaptive

#3422 Fix @ resolver to deal with complex objects correctly
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Memory/DialogStateManager.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/DialogStateManagerTests.cs
Labels: R8, adaptive, bug, needs-review

#3423 fallback to .value property if there is no text.
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/InputDialog.cs
Labels: DCR, R8, adaptive, needs-review

#3427 update adaptive inputs to set inputHint = expectingInput
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/InputDialog.cs
Labels: P0

#3426 add contentType to HttpAction
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/HttpRequest.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.HttpRequest.schema
  schemas/sdk.schema
  tests/Microsoft.Bot.Builder.TestBot.Json/app.schema
Labels: DCR, R8, adaptive

#3409 [Skills] Refactor BFAdapter Auth, Add support for proactively messaging non-channel recipients
  libraries/Microsoft.Bot.Builder/BotAdapter.cs
  libraries/Microsoft.Bot.Builder/BotFrameworkAdapter.cs
  tests/Microsoft.Bot.Builder.Tests/BotFrameworkAdapterTests.cs
Labels: Skills, WIP

#3421 Fix BotStateScope to show full botState and give control for dialogState Property name
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/DialogManager.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Memory/DialogStateManager.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Memory/Scopes/BotStateMemoryScope.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Memory/Scopes/ConversationMemoryScope.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Memory/Scopes/UserMemoryScope.cs
  libraries/Microsoft.Bot.Builder.Dialogs/ObjectPath.cs
  libraries/Microsoft.Bot.Builder/BotState.cs
  tests/Microsoft.Bot.Builder.Dialogs.Declarative.Tests/JsonLoadTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/DialogManagerTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/DialogStateManagerTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/MemoryScopeTests.cs
Labels: R8, adaptive

#3448 Added null check and code to return default(T) in GetPropertyValueAsync<T>
  libraries/Microsoft.Bot.Builder/BotState.cs
  tests/Microsoft.Bot.Builder.Tests/BotStateSetTests.cs
Labels: no parity

#3458 Updates to SkillDialog based on VA feedback.
  FunctionalTests/Skills/DialogToDialog/DialogEchoSkillBot/Authentication/AllowedCallersClaimsValidator.cs
  FunctionalTests/Skills/DialogToDialog/DialogEchoSkillBot/Bots/EchoBot.cs
  FunctionalTests/Skills/DialogToDialog/DialogEchoSkillBot/Controllers/BotController.cs
  FunctionalTests/Skills/DialogToDialog/DialogEchoSkillBot/DialogEchoSkillBot.csproj
  FunctionalTests/Skills/DialogToDialog/DialogEchoSkillBot/Program.cs
  FunctionalTests/Skills/DialogToDialog/DialogEchoSkillBot/Properties/launchSettings.json
  FunctionalTests/Skills/DialogToDialog/DialogEchoSkillBot/SkillAdapterWithErrorHandler.cs
  FunctionalTests/Skills/DialogToDialog/DialogEchoSkillBot/Startup.cs
  FunctionalTests/Skills/DialogToDialog/DialogRootBot/AdapterWithErrorHandler.cs
  FunctionalTests/Skills/DialogToDialog/DialogRootBot/Dialogs/MainDialog.cs
  FunctionalTests/Skills/DialogToDialog/DialogRootBot/Properties/launchSettings.json
  FunctionalTests/Skills/DialogToDialog/DialogSkillBot/Properties/launchSettings.json
  FunctionalTests/Skills/SimpleBotToBot/EchoSkillBot/Authentication/AllowedCallersClaimsValidator.cs
  FunctionalTests/Skills/SimpleBotToBot/EchoSkillBot/Bots/EchoBot.cs
  FunctionalTests/Skills/SimpleBotToBot/EchoSkillBot/Controllers/BotController.cs
  FunctionalTests/Skills/SimpleBotToBot/EchoSkillBot/EchoSkillBot.csproj
  FunctionalTests/Skills/SimpleBotToBot/EchoSkillBot/Program.cs
  FunctionalTests/Skills/SimpleBotToBot/EchoSkillBot/Properties/launchSettings.json
  FunctionalTests/Skills/SimpleBotToBot/EchoSkillBot/SkillAdapterWithErrorHandler.cs
  FunctionalTests/Skills/SimpleBotToBot/EchoSkillBot/Startup.cs
  FunctionalTests/Skills/SimpleBotToBot/SimpleRootBot/AdapterWithErrorHandler.cs
  FunctionalTests/Skills/SimpleBotToBot/SimpleRootBot/Authentication/AllowedSkillsClaimsValidator.cs
  FunctionalTests/Skills/SimpleBotToBot/SimpleRootBot/Bots/RootBot.cs
  FunctionalTests/Skills/SimpleBotToBot/SimpleRootBot/Controllers/BotController.cs
  FunctionalTests/Skills/SimpleBotToBot/SimpleRootBot/Controllers/SkillController.cs
  FunctionalTests/Skills/SimpleBotToBot/SimpleRootBot/Program.cs
  FunctionalTests/Skills/SimpleBotToBot/SimpleRootBot/SimpleRootBot.csproj
  FunctionalTests/Skills/SimpleBotToBot/SimpleRootBot/SkillConversationIdFactory.cs
  FunctionalTests/Skills/SimpleBotToBot/SimpleRootBot/SkillsConfiguration.cs
  FunctionalTests/Skills/SimpleBotToBot/SimpleRootBot/Startup.cs
  Microsoft.Bot.Builder.Skills.sln
  libraries/Microsoft.Bot.Builder.Skills/Dialogs/SkillDialog.cs
  libraries/Microsoft.Bot.Builder.Skills/Dialogs/SkillDialogArgs.cs
  libraries/Microsoft.Bot.Builder.Skills/Dialogs/SkillDialogOptions.cs
Labels: no parity

#3433 fix Dynamic properties do not work
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Memory/DialogStateManager.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/AdaptiveDialogTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/AdaptiveDialogTests/AdaptiveDialog_NestedMemoryAccess.test.dialog
Labels: R8

#3461 Renamed SequenceContext to ActionContext
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/ActionContext.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/ActionScope.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/DebugBreak.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/DeleteProperties.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/DeleteProperty.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/EditActions.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/IfCondition.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/SwitchCondition.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/EntityEvents.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/ITriggerSelector.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Selectors/ConditionalSelector.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Selectors/FirstSelector.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Selectors/MostSpecificSelector.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Selectors/RandomSelector.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Selectors/TrueSelector.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/OnCondition.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/OnError.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/TriggerConditions/OnIntent.cs
  libraries/Microsoft.Bot.Builder.Dialogs/DialogContext.cs
Labels: R8, adaptive

#3463 fix memory scope for class memory sscope to evaluate expressionProperties
  libraries/AdaptiveExpressions/ExpressionProperties/ExpressionProperty.cs
  libraries/AdaptiveExpressions/ExpressionProperties/IExpressionProperty.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/AdaptiveDialog.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/BotState.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/DialogManager.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Memory/DialogStateManager.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Memory/Scopes/ClassMemoryScope.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Memory/Scopes/DialogClassMemoryScope.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Memory/Scopes/ExpressionPropertyBinder.cs
  libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/PlanningDialogRunOptions.cs
  libraries/Microsoft.Bot.Builder.Dialogs/ObjectPath.cs
  tests/Microsoft.Bot.Builder.Dialogs.Tests/MemoryScopeTests.cs
Labels: P0, adaptive, bug
