Repository microsoft/botbuilder-dotnet, pull requests merged in 2021-06, with the labels that each got.

#5705 Docs: Update Orchestrator description and ProjectURL for Composer
  libraries/Microsoft.Bot.Builder.AI.Orchestrator/Microsoft.Bot.Builder.AI.Orchestrator.csproj
Labels: Area: AI-Orchestrator, P0

#5616 feat: AdaptiveExpressions: Allow 0 to convert as false bool
  libraries/AdaptiveExpressions/BuiltinFunctions/Bool.cs
  tests/AdaptiveExpressions.Tests/ExpressionParserTests.cs
  tests/Microsoft.Bot.Builder.Dialogs.Adaptive.Tests/Tests/AdaptiveDialogTests/AdaptiveDialog_AllowInterruptionAlwaysWithFailedValidation.test.dialog
Labels: Area: Adaptive expression

#5755 Disable code coverage reporting for netcoreapp 2.1
  build/yaml/botbuilder-dotnet-ci.yml
Labels: Area: Engineering, Automation: No parity
